.btr-inventory .content {
	max-width: 1000px;
}

.btr-inventory .catalog-container {
	background-color: #fff;
	box-shadow: 0 1px 4px 0 rgba(25,25,25,0.3);
	padding: 15px;
}

.btr-inventory .item-card-container .btr-item-card-more {
	display: none;
}


@media (min-width: 768px) {
	.btr-inventory .item-card-container:hover .btr-item-card-more {
		display: block;
	}

	body.btr-inventory .item-card {
		position: relative;
		height: 76px;
		margin-bottom: 20%;
	}

	.btr-inventory .item-card .item-card-container {
		float: left;
	}

	.btr-inventory .item-card .item-card-container:hover {
		z-index: 2;
	}

	.btr-inventory .item-card-price:not(.margin-top-none) {
		margin-top: 18px;
	}
}

@media (min-width: 992px) {
	body.btr-inventory .item-card {
		margin-bottom: 16.67%;
	}
}

@media (min-width: 1150px) {
	.btr-inventory .content {
		max-width: 1090px;
	}

	.btr-inventory .item-card .item-card-container {
		width: 140px;
	}

	.btr-inventory .item-card .item-card-thumb-container {
		width: 140px;
		height: 140px;
	}
}