.btr-catalog .content {
	max-width: 1060px;
}

.btr-catalog .item-card-container .btr-item-card-more {
	display: none;
	position: absolute;
	z-index: 3;
	padding: 6px;
	padding-top: 0;
	left: 0;
	width: 100%;
}

.btr-catalog #results .item-cards-stackable {
	overflow: initial;
}

@media (min-width: 768px) {
	.btr-catalog .item-card-container .btr-item-card-more .item-card-label {
		font-size: 11px;
	}

	.btr-catalog .item-card-container:hover .btr-item-card-more {
		display: block;
	}

	.btr-catalog .item-card .item-card-container:hover {
		z-index: 2;
		box-shadow:  0 1px 2px 0 rgba(25,25,25,0.75);

		margin-bottom: -17px;
	}

	.btr-catalog .item-card .item-card-container:hover .item-card-caption {
		padding-bottom: 17px;
	}

	.btr-catalog .item-card .item-card-container[btr-item-info="true"]:hover {
		margin-bottom: -47px;
	}

	.btr-catalog .item-card .item-card-container[btr-item-info="true"]:hover .item-card-caption {
		padding-bottom: 47px;
	}
}

/*
.btr-pager-input {
	height: 32px;
	width: 64px;
	border: 1px solid #B8B8B8;
	border-radius: 3px;

	margin-right: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-align: center;
}


@media (min-width: 768px) {
	.btr-catalog .item-card-container:hover .btr-item-card-more {
		display: block;
	}

	body.btr-catalog .item-card {
		position: relative;
		height: 76px;
		margin-bottom: 20%;
	}

	.btr-catalog .item-card .item-card-container {
		float: left;
		box-shadow: none;
		border-radius: 0;
	}

	.btr-catalog .item-card .item-card-container:hover {
		z-index: 2;
		box-shadow: 0 1px 2px 0 rgba(25,25,25,0.75);
		transition: none;
	}

	body.btr-catalog .item-card-price {
		margin-top: 0/*18px*;
	}

	.btr-catalog .item-card-thumb-container {
		border: 1px solid #E3E3E3;
		border-radius: 0;
	}

	.btr-catalog .item-card-thumb {
		border-radius: 0;
	}
}

@media (min-width: 992px) {
	body.btr-catalog .item-card {
		margin-bottom: 16.67%;
	}
}

@media (min-width: 1150px) {
	.btr-catalog .content {
		max-width: 1090px;
	}

	.btr-catalog .item-card .item-card-container {
		width: 140px;
	}

	.btr-catalog .item-card .item-card-thumb-container {
		width: 140px;
		height: 140px;
	}
}
*/