.btr-characterPage .btr-mainWrapper {
	width: 1120px;
	margin: 0 auto;
	margin-top: 20px;
}


.btr-characterPage .btr-avatar,
.btr-characterPage .btr-wearing {
	position: relative;
	display: inline-block;
	height: 500px;
}
.btr-characterPage .btr-avatar {
	width: 400px;
	overflow: hidden;
}

.btr-avatar .btr-innerAvatar {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 600px;

	background-image: url("chrome-extension://__MSG_@@extension_id__/res/avatarEditor/bg_happyhome.png");
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.btr-avatar .btr-modeSwitch {
	position: absolute;
	top: 12px;
	right: 12px;
}

.btr-characterPage .btr-wearing {
	width: calc(100% - 400px);
	overflow: hidden;
}


.btr-characterPage .btr-inventory {
	position: relative;
	width: 100%;
}
