.btr-hide-ads #build-page td.content-area {
	border-right:none;
	width:800px;
}

.btr-hide-ads #build-page table.section-header {
	width:800px;
}

.btr-hide-ads #build-page .item-table .name-col {
	width:350px;
}

.btr-hide-ads #build-page .item-table .stats-col-games {
	width:230px;
}

.btr-hide-ads #build-page .item-table .universe-name-col {
	width: 630px;
}

.item-table .btr-showcase-status {
	margin-top: 1px;

	padding-left: 18px;
	font-size: 13px;
	background-image: url(/res/showcase-status.png);
	background-repeat: no-repeat;
	display: block;
	height: 15px;
}

.item-table[data-in-showcase$='alse'] .btr-showcase-status {
	background-position:0 -30px;
}

.item-table[data-in-showcase$='alse'] .btr-showcase-status:hover {
	background-position: 0 -45px;
	text-decoration: none;
}

.item-table:not([data-in-showcase$='alse']) .btr-showcase-status:hover {
	background-position: 0 -15px;
	text-decoration: none;
}

.item-table[data-in-showcase$='alse'] .btr-showcase-status:after {
	content: "Hidden";
}

.item-table:not([data-in-showcase$='alse']) .btr-showcase-status:after {
	content: "Visible";
}