@media (min-width: 1024px) { /* Ads don't exist if < 1024px */
	.btr-hide-ads .games-page-left {
		margin-right:10px;
	}
}

body .games-list-container.overflow-hidden:not(:first-child) {
	top:auto !important;
	margin-top:-51px;
}

body #DivToHideOverflowFromLastGamesList {
	display:none;
}

body .games-list-container {
	background:transparent; /* Why did this have a background in the first place? */
}
