div.content {
	padding-left: 12px;
	padding-right: 12px;
}

div.content {
	max-width: 1208px;
}

.btr-hide-ads div.content {
	max-width: 1024px;
}

div.page-content {
	max-width: 1000px;
}

/* Main container */

body .btr-game-main-container {
	padding: 0 12px 12px;
}

.btr-game-main-container .game-main-content {
	background: none;
	padding:;
	padding-left: 0;
	padding-right: 0;
}

.btr-game-main-container .game-calls-to-action .game-title-container {
	padding-right: 30px;
}

.btr-description {
	float: left;
	width: 100%;
	padding: 0;
}

.btr-description .game-description {
	padding: 6px 12px;
	margin-bottom: 10px;
}


/* Badges */

.btr-badges-container {
	margin-top: 18px;
}

body .badge-container .badge-row { /* Badge height + 10px */
	min-height:110px;
	max-height:160px; /* Regular height */
	height:auto;
}

body .badge-container .badge-row .badge-image,
body .badge-container .badge-row .badge-image img { /* Regular size is 150x150 */
	width:100px;
	height:100px;
}

body .badge-container .badge-row .badge-content {
	width:calc(100% - 100px);
}

body .badge-container .badge-row .badge-data-container {
	width:60%;
}

body .badge-container .badge-row .badge-data-container>p {
	height:72px;
	margin:4px 4px;

	overflow:hidden;
}

body .badge-container .badge-row .badge-stats-container {
	width:40%;
	margin-top:18px;
}

body .badge-container .badge-row.btr-notowned {
	opacity: .6;
	transition: all 1s;
}

body .badge-container .badge-row.btr-badgeownedloading:before {
	position: absolute;
	content: "";
	width: 16px;
	height: 16px;
	background: url(/res/loading1.gif) transparent no-repeat;
	opacity: 0.5;
}

/* Universe Box */

.btr-universe-box {
	height: 50px;
	padding: 12px 20px;
	margin: 12px 0 0;

	background-color: #EFFAFF;

	color: #555;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;

	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

.btr-universe-visit-button {
	display: inline-block;
	float: right;
	margin-top: -5px;
}

/* Leaderboard */

.rbx-leaderboard-container .rbx-leaderboard-items.section-content {
	background: transparent;
	box-shadow: none;
}

/* Pager */

.btr-server-pager {
	padding: 4px;

	text-align: center;
	line-height: 32px;
	vertical-align: middle;
}

.btr-server-pager>button {
	margin: 0 2px;
}

.btr-server-pager .btr-server-input {
	width: 40px;
	height: 26px;
	padding: 2px 5px;

	text-align: center;
}

/* VIP Servers */

.rbx-vip-server-details {
	padding-top: 8px;
}

.rbx-vip-server-details .owner-avatar {
	display: none !important;
}

/* Developer Store */

#store .game-dev-store {
	padding: 0 4px; /* Overflow problems */
}

/* Other */

.section-content-off {
	background: transparent !important;
}

#my-recommended-games,
#about #rbx-vip-servers {
	display: none !important;
}