div.content {
	padding-left: 12px;
	padding-right: 12px;
}

div.content {
	max-width: 1208px;
}

.btr-hide-ads div.content {
	max-width: 1024px;
}

div.page-content {
	max-width: 1000px;
}

/* Main container */

body .btr-game-main-container {
	padding: 12px;
	margin-top: 12px;
}

.light-theme .btr-game-main-container {
	padding: 12px;
}

.btr-game-main-container .game-main-content {
	background: none;
	padding-left: 0;
	padding-right: 0;
}

.btr-game-main-container .game-title-container {
	overflow-wrap: break-word;
}

.btr-game-main-container .game-description-container {
	padding: 6px 12px;
	padding-bottom: 0;
	margin-bottom: 0;
	clear: both;
}

.btr-game-main-container .game-description-container > .container-header {
	display: none;
}

/* legacy description stuff */

.btr-game-main-container .game-about-container > .section-content {
	padding: 6px 12px;
	padding-bottom: 0;
	margin-bottom: 0;
	clear: both;
}

.btr-game-main-container .game-about-container > .container-header {
	display: none;
}

/* Badges */

.btr-badges-container {
	margin-bottom: 18px;
}

.btr-badges-container .badge-row { /* Badge height + 10px */
	min-height:110px;
	max-height:160px; /* Regular height */
	height:auto;
}

.btr-badges-container .badge-row .badge-image,
.btr-badges-container .badge-row .badge-image img,
.btr-badges-container .badge-row .badge-image thumbnail-2d { /* Regular size is 150x150 */
	width: 100px;
	height: 100px;
}

.btr-badges-container .badge-row .badge-content {
	width: calc(100% - 100px);
	min-height: 100px;
	padding-left: 4px;
	display: flex;
	flex-direction: row;
}

.btr-badges-container .badge-row .badge-data-container {
	flex: 1 1 auto;
}

.btr-badges-container .badge-row .badge-data-container > p {
	height: 46px;
	margin: 4px 0px;
	
	font-size: 14px;

	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.btr-badges-container .badge-row .badge-data-container .btr-unlock-date {
	opacity: 0.3;
	font-size: 12px;
}

.btr-badges-container .badge-row .badge-stats-container {
	flex: 1 0 fit-content;
	height: 100px;
	margin: 0;
	
	display: flex;
	flex-direction: row;
	align-items: center;
}

.btr-badges-container.btr-compact-stats .badge-row .badge-stats-container {
	min-width: 200px;
	
	display: grid;
	grid: repeat(3, 33.333%) / max-content auto;
}

.btr-badges-container.btr-compact-stats .badge-row .badge-stats-container::before {
	display: none;
}

.btr-badges-container.btr-compact-stats .badge-row .badge-stats-container > li {
	display: contents;
}

.btr-badges-container.btr-compact-stats .badge-row .badge-stats-container > li > div {
	font-size: 14px;
}

.btr-badges-container.btr-compact-stats .badge-row .badge-stats-container .text-label {
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: right;
	text-align: right;
	padding-right: 6px;
}

.btr-badges-container.btr-compact-stats .badge-row .badge-stats-container .badge-stats-info {
	grid-column: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;
}


.btr-badges-container .badge-row {
	transition: opacity 1s;
}

.btr-badges-container .badge-row.btr-notowned {
	opacity: .5;
}

.btr-badges-container .badge-row.btr-badgeownedloading:before {
	position: absolute;
	content: "";
	width: 16px;
	height: 16px;
	background: url(/res/icon_loading.gif) transparent no-repeat;
	opacity: 0.5;
}

/* Universe Box */

html body .btr-universe-box {
	height: 56px;
	margin: 12px 0 0;
	line-height: 26px;
}

.btr-universe-visit-button {
	float: right;
	margin-top: -5px;
}

/* Servers */

.btr-gamedetails .server-list-section#rbx-private-running-games .card-list > li:not(:first-child) {
	border-top: 1px solid #bdbebe;
}

.dark-theme.btr-gamedetails .server-list-section#rbx-private-running-games .card-list > li:not(:first-child) {
	border-top: 1px solid #656668;
}

.btr-gamedetails .server-list-section .card-list::after {
	content: "";
	display: table;
	clear: both;
}

.btr-gamedetails .server-list-section:not(#rbx-private-running-games) .card-list {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-auto-rows: auto;
}

.btr-gamedetails .server-list-section:not(#rbx-private-running-games) .card-list > li {
	width: 100%;
	display: flex;
}

.btr-gamedetails .server-list-section:not(#rbx-private-running-games) .card-list .card-item {
	min-height: unset; /* we do scaling on the grid level now, no need for this */
	width: 100%;
	
	row-gap: 12px; /* looked a bit bad with no gap at all */
}

.btr-gamedetails .server-player-count-gauge {
	display: none;
}

.btr-gamedetails .server-list-section .card-list .card-item div.rbx-game-status {
	white-space: pre-line;
	margin: 0;
}

/* VIP Servers */

.btr-gamedetails .rbx-private-server-details {
	padding-top: 8px;
}

.btr-gamedetails .rbx-private-server-details .owner-avatar {
	display: none !important;
}

/* Developer Store */

#store .store-cards { /* Fix stuff breaking when price or robuxtocash wraps to next line */
	display: flex;
	flex-wrap: wrap;
}

#store .store-cards .store-card {
	border: 1px solid #E3E3E3;
}

.dark-theme.btr-gamedetails #store .store-cards .store-card {
	border-color: #656668;
}

.dark-theme.btr-gamedetails #store .store-cards .store-card .store-card-caption {
	border-top-color: #656668;
}

/* Other */

.btr-gamedetails .section-content-off {
	background: transparent !important;
}

.btr-gamedetails #game-details-about-tab-container #rbx-private-servers,
.btr-gamedetails #game-details-about-tab-container #private-server-container-about-tab {
	display: none !important;
}

.btr-gamedetails #my-recommended-games .hlist {
	text-align: center;
}