/* Groups redesign */

.btr-redesign .group-description {
	padding-top: 24px;
	padding-bottom: 6px;
}

.btr-redesign social-link-icon-list {
	position: absolute;
	top: 6px;
	right: 44px;
}

.btr-redesign .btr-shout-container {
	margin-bottom: 28px;
	margin-top: -12px;
}

.btr-redesign .rbx-tabs-horizontal {
	margin-bottom: 4px;
}

.btr-hidePayout group-payouts,
.btr-hideBigSocial social-links-container {
	display: none;
}

/* Paged group wall */

.btr-comment-pager {
	float: left;
}

.btr-comment-pager .pager-mid {
	line-height: 32px;
}

/* Group wall ranks */

.btr-grouprank {
	margin-left: 4px;
}
