/* Groups redesign */

.btr-redesign .btr-description-label {
	padding-top: 32px;
}

.btr-redesign .group-description {
	padding-top: 8px;
	padding-bottom: 8px;
}

.btr-redesign social-link-icon-list {
	position: absolute;
	top: 6px;
	right: 44px;
}

.btr-redesign .btr-group-about {
	margin-bottom: 18px;
}

.btr-redesign .btr-shout-container .shout-container {
	margin-bottom: 18px;
}

.btr-redesign .rbx-tabs-horizontal {
	margin-top: 18px;
	margin-bottom: 8px;
}

.btr-hidePayout group-payouts,
.btr-hideBigSocial social-links-container {
	display: none;
}

/* Paged group wall */

.btr-comment-pager {
	float: left;
}

.btr-comment-pager .pager-mid {
	line-height: 32px;
}

/* Group wall ranks */

.btr-grouprank {
	margin-left: 4px;
}
