body.btr-hide-ads .content {
	max-width: calc(1478px - 166px);
}

/* Groups redesign */

.btr-redesign group-description .section,
.btr-redesign group-description .section-content {
	display: contents;
}

.btr-redesign group-description .container-header {
	position: static;
	min-height: unset;
	margin-bottom: 0;
}

.btr-redesign group-description .container-header h2 {
	font-size: 16px;
	padding: 4px 0;
}

html .btr-redesign group-description .group-description-text {
	line-height: 1.4em;
}

html .btr-redesign group-description .group-description:has(>.hidden) .group-description-text {
	max-height: 96px;
	height: auto;
}

.btr-redesign group-description .group-description-footer {
	margin-top: 8px;
}

.btr-redesign group-description .group-description-footer:not(:has(>:first-child)) {
	display: none;
}

/* Social icons */

.btr-redesign social-link-icon-list {
	position: absolute;
	top: 6px;
	right: 44px;
}

/* Other */

.btr-redesign .btr-group-about {
	margin-bottom: 0;
}

.btr-redesign .btr-shout-container .shout-container {
	margin-bottom: 0;
}

.btr-redesign .community-link-display,
.btr-redesign .community-link-display-link {
	margin-bottom: 0;
}

.btr-redesign .rbx-tabs-horizontal {
	margin-top: 18px;
	margin-bottom: 8px;
}

.btr-redesign .tab-content {
	float: none;
}

.btr-redesign group-members-list .container-header.group-members-list-container-header h2 {
	padding: 5px 0
}

.btr-redesign group-members-list .dropdown-menu li a:defined {
	display: flex;
}

.btr-redesign group-members-list .group-members-list-container-header .group-dropdown .dropdown-menu li a .text-overflow {
	max-width: none;
	flex: 1 1 auto;
}

.btr-redesign group-members-list .dropdown-menu li a .role-member-count {
	flex: 1 0 auto;
	text-align: right;
}

.btr-redesign group-members-list .dropdown-menu li a .role-member-count::before {
	content: " ";
	white-space: pre;
}

.btr-redesign group-members-list .input-group-btn > button {
	display: flex;
}

.btr-redesign group-members-list .input-group-btn > button > * {
	flex: 0 0 auto;
}

.btr-redesign group-members-list .input-group-btn > button .rbx-selection-label {
	flex: 1 1 auto;
}

.btr-redesign group-members-list .input-group-btn > button .btr-role-member-count {
	float: right;
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	padding-right: 2px;
}

.btr-redesign #horizontal-tabs:has(>li:nth-child(4)) { --btr-num-tabs: 4; }
.btr-redesign #horizontal-tabs:has(>li:nth-child(5)) { --btr-num-tabs: 5; }
.btr-redesign #horizontal-tabs:has(>li:nth-child(6)) { --btr-num-tabs: 6; }
.btr-redesign #horizontal-tabs:has(>li:nth-child(7)) { --btr-num-tabs: 7; }

.btr-redesign #horizontal-tabs > li {
	width: calc(100% / var(--btr-num-tabs, 3));
}

.btr-redesign .btr-hide-payouts,
.btr-hideBigSocial social-links-container {
	display: none;
}

/* Paged group wall */

.btr-comment-pager {
	float: left;
}

.btr-comment-pager .pager-mid {
	line-height: 32px;
}

.btr-redesign .group-wall ~ .loading {
	margin-top: -12px;
}

.btr-redesign .group-wall ~ .loading .spinner {
	height: 72px;
}