@media (min-width: 992px) {
	html body.btr-no-hamburger .wrap.has-groups-list-sidebar .groups-list-sidebar {
		left: 175px;
	}
}

/* Groups redesign */

.btr-redesign .tab-content {
	float: none;
}

.btr-redesign group-members-list .container-header.group-members-list-container-header h2 {
	padding: 5px 0
}

.btr-redesign group-members-list .dropdown-menu li a:defined {
	display: flex;
}

.btr-redesign group-members-list .group-members-list-container-header .group-dropdown .dropdown-menu li a .text-overflow {
	max-width: none;
	flex: 1 1 auto;
}

.btr-redesign group-members-list .dropdown-menu li a .role-member-count {
	flex: 1 0 auto;
	text-align: right;
}

.btr-redesign group-members-list .dropdown-menu li a .role-member-count::before {
	content: " ";
	white-space: pre;
}

.btr-redesign group-members-list .input-group-btn > button {
	display: flex;
}

.btr-redesign group-members-list .input-group-btn > button > * {
	flex: 0 0 auto;
}

.btr-redesign group-members-list .input-group-btn > button .rbx-selection-label {
	flex: 1 1 auto;
}

.btr-redesign group-members-list .input-group-btn > button .btr-role-member-count {
	float: right;
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	padding-right: 2px;
}

/* Paged group wall */

.btr-comment-pager {
	float: left;
}

.btr-comment-pager .pager-mid {
	line-height: 32px;
}

.btr-redesign .group-wall ~ .loading {
	margin-top: -12px;
}

.btr-redesign .group-wall ~ .loading .spinner {
	height: 72px;
}