.btr-hide-ads .content {
	max-width: 970px;
}

.btr-hide-ads #HomeContainer {
	float: initial;
	margin: 0 auto;
}

/* Fix potato border bug for empty friend images */

.placeholder-avatar-headshot > .avatar-card-image:not([src]) {
	visibility: hidden;
}