.btr-hide-ads .content {
	max-width: 970px;
}

#item-details-description {
	white-space: pre-wrap;
}

#item-details-description:not(.content-height) {
	padding-bottom: 20px;
}

#item-details-description.content-height {
	height: 200px;
}

.btr-explorer-button {
	position: absolute;
	top: 12px;
	right: 12px;
}

.menu-shown .btr-explorer-button {
	right: 50px;
}

#item-container.btr-explorer-btn-shown h2 {
	margin-right: 100px;
}

.btr-icon-explorer {
	display: block;
	background-image: url('chrome-extension://__MSG_@@extension_id__/res/explorer.svg');
	background-repeat: no-repeat;
	background-size: auto auto;
	width: 28px;
	height: 28px;
	vertical-align: middle;
}

.btr-icon-explorer:hover {
	background-position: -28px 0;
}

.btr-preview-container {
	position: relative;
	height: 420px;
	width: 420px;
	border: 1px #ddd solid;
}

.btr-preview-btn {
	position: absolute;
	bottom: 0;
	right: 46px;
	padding: 9px;
	margin: 10px;
	width: 40px;
	height: 38px;

	background: #fff;

	border: 1px solid #B8B8B8;
	border-radius: 3px;

	font-weight: 400;
	font-size: 18px;

	user-select: none;
	transition: box-shadow .2 ease-in-out;
}

.btr-preview-container .btr-preview-btn {
	right: 0;
}

.btr-preview-container .btr-preview-btn:after {
	content: "✕";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 38px;
	pointer-events: none;
	font-size: 20px;
}

.btr-preview-btn:hover {
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(150,150,150,0.74);
}