/* Top bar */

#header.rbx-header {
	min-width: 500px;
}

#header.rbx-header .rbx-navbar.col-md-4 {
	width: 30%;
	min-width: 400px;
}

#header.rbx-header .rbx-navbar>li {
	width: 20%;
}

#header.rbx-header .rbx-navbar-right {
	width: 280px;
}

@media (max-width: 1150px) and (min-width: 992px) {
	#header.rbx-header .rbx-navbar-search {
		width: calc(60% - 450px);
	}
}

@media (max-width: 991px) and (min-width: 544px) {
	#header.rbx-header .rbx-navbar-right {
		width: 250px;
	}

	#header.rbx-header .rbx-navbar-search {
		width: calc(65% - 220px); /*32.5%;*/
	}
}

@media (max-width: 543px) {
	.rbx-header .rbx-navbar-right .rbx-navbar-icon-group .navbar-icon-item {
		width: 16%;
	}
}

#header .rbx-nav-collapse .rbx-nav-notification {
	display:none;
}


/* btr-no-hamburger */

.btr-no-hamburger #header .rbx-navbar-header {
	max-width:120px;
}
.btr-no-hamburger #header .icon-logo-r {
	display:none;
}
.btr-no-hamburger #header .icon-logo {
	display:block;
}
.btr-no-hamburger #header .logo-transitional {
	background-image: url("/images/Logo/roblox_logo.svg");
	background-repeat: no-repeat;
	background-size: auto auto;
	width: 118px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	background-size: 118px 30px;
}

.btr-no-hamburger #header .rbx-nav-collapse {
	display:none;
}

.btr-no-hamburger .rbx-left-col {
	width:175px;
	box-shadow:0 0 3px rgba(25,25,25,0.3);
}

.btr-no-hamburger .rbx-left-col .rbx-scrollbar {
	width:175px;
}

@media (max-width:1688px) {
	body.btr-no-hamburger .container-main,
	body.btr-no-hamburger .nav-container .nav-content {
		margin-left:175px;
	}
}



/* Navigation buttons etc */

.icon-nav-friend-btr,.icon-nav-message-btr,.icon-nav-bc-btr {
	background-image:url('chrome-extension://__MSG_@@extension_id__/res/nav2.svg');
	background-repeat:no-repeat;
	background-size:auto auto;
	width:28px;
	height:28px;
	display:inline-block;
}

#nav-message .notification-blue, #nav-friends .notification-blue {
	display:none;
}

.icon-nav-bc-btr {
	background-position:0 -56px;
}

a:hover .icon-nav-bc-btr {
	background-position:-28px -56px;
}

#nav-bc:hover {
	color:#00a2ff;
}


.icon-nav-friend-btr {
	background-position:0 -28px;
}

a:hover .icon-nav-friend-btr {
	background-position:-28px -28px;
}


.icon-nav-message-btr {
	background-position:0 0;
}

a:hover .icon-nav-message-btr {
	background-position:-28px 0;
}

/* Text overflow */

.btr-text-overflow {
	position:relative;
	white-space:nowrap;
	overflow:hidden;
}

.btr-text-overflow:after {
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	width:10%;
	content:"";
	background:linear-gradient(to right,transparent 0,white 90%);
	pointer-events:none;
}

/* New Chat */

.btr-newchat .chat-container.collapsed .chat-main {
	width:54px;
}

.btr-newchat .chat-container #chat-group-create-btn {
	display:none;
}

.btr-newchat .chat-container #chat-friend-list {
	max-height:362px;
}

.btr-newchat .chat-container .chat-main .chat-header .notification-red {
	margin:-4px -4px 0 0;
}

/* Ads */

/*
.btr-hide-ads .ads-container,
.btr-hide-ads .abp, 
.btr-hide-ads .abp-spacer, 
.btr-hide-ads .abp-container,
.btr-hide-ads .top-abp-container,
.btr-hide-ads #AdvertisingLeaderboard,
.btr-hide-ads #AdvertisementRight,
.btr-hide-ads #MessagesAdSkyscraper,
.btr-hide-ads .Ads_WideSkyscraper,
.btr-hide-ads iframe[src*="roblox.com/userads/"],
.btr-hide-ads .profile-ads-container,
.btr-hide-ads #ad {
	display:none !important;
}
*/


/* 3d avatar stuff */

.btr-3d-avatar-modebtns {
	position:absolute;
	height:20px;
	right:10px;
	top:10px;
	overflow:hidden;
	border-radius:3px;
}

.btr-3d-avatar-modebtns btn {
	display:block;
	height:20px;
	padding:0 4px;
	margin-top:0px;
	background:rgb(120,120,120);
	color:rgb(170,170,170);
	float:right;
	cursor:pointer;
}

.btr-3d-avatar-modebtns btn:hover {
	background:rgb(140,140,140);
}

.btr-3d-avatar-modebtns btn.selected {
	background:rgb(170,170,170);
	color:white;
}

/* Sidebar Blog Feed */

.btr_feed {
	display:block;
	font-size:11px;
	padding-left:8px;
	padding-right:4px;
	padding-top:4px;
	padding-bottom:4px;
	background-color:transparent;
	text-decoration:none;
	overflow:hidden;
}

.btr_feed:hover {
	background:rgba(0,0,0,0.08);
}

.btr_feedcreator, .btr_feeddate {
	color:#777;
	font-size:10px;
	font-weight:normal;
	margin:0 !important;
}

.btr_feedactdate {
	display:none !important;
}

.btr_feedtitle {
	color:#555;
	font-weight:bold;
	line-height:12px;
	font-size:11px;
}

.btr_feeddesc {
	overflow:hidden;
	max-height:0;
	width:100%;
	padding-right:25px; /* Yay for haxy hiding of scrollbars!*/
	color:#444;
	font-weight:300;
	transition:max-height 0.4s;
	margin-top:4px;
	margin-bottom:0px;
	font-size:11px;
}

.btr_feed:hover > .btr_feeddesc {
	max-height:180px;
	margin-bottom:4px;
}

.btr_grouprank {
	color:#222;
	font-size:12px;
	font-weight:600;
}


/* Navigation */

.btr_icon-nav-friend {
	background-position:0 -28px;
}

a:hover .btr_icon-nav-friend {
	background-position:-28px -28px;
}

.btr_icon-nav-message {
	background-position:0 0;
}

a:hover .btr_icon-nav-message {
	background-position:-28px 0;
}

.btr_icon-nav-bc {
	background-position:0 -56px;
}

a:hover .btr_icon-nav-bc {
	background-position:-28px -56px;
}

#nav-bc:hover {
	color:#00a2ff;
}

.rbx-scrollbar li span[class^="btr_icon"], .rbx-header .rbx-navbar-icon-group li span[class^="btr_icon"] {
	vertical-align:middle;
	margin:0;
}

.btr_icon-nav-friend,.btr_icon-nav-message,.btr_icon-nav-bc {
	background-image:url('chrome-extension://__MSG_@@extension_id__/res/nav2.svg');
	background-repeat:no-repeat;
	background-size:auto auto;
	width:28px;
	height:28px;
	display:inline-block;
}

.btr-nav-notif {
	box-sizing: content-box;
	position: absolute;
	display: block;
	top: 2px;
	right: 2px;

	background: white;
	padding: 0px 4px;
	height: 16px;
	text-align: center;

	color: #191919;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;

	border-radius: 10px;
	border: 2px solid #0074bd;
}

.btr_hidden {
	display:none !important;
}

.btr_downloadLink {
	margin-left:6px;
}



/* PAGER */

.btr-pager-holder .pager-mid {
	padding-right: 4px;
}

.btr-pager-holder input.pager-cur {
	width:32px;
	height:28px;

	background-color:white;
	border:1px solid #B8B8B8;
	border-radius:3px;

	margin:0;
	margin-right:6px;

	padding:0;

	text-align:center;
}

/* Backup from roblox's css */
.btr-pager{box-sizing:border-box;font-size:16px;}.btr-pager *{box-sizing:inherit;}
.btr-pager{padding-left:0;margin:20px 0;list-style:none;text-align:center}.btr-pager:before,.btr-pager:after{content:" ";display:table}.btr-pager:after{clear:both}.btr-pager li{float:left}.btr-pager li a{margin:0 9px 0 0;height:32px;width:32px;color:#191919;padding:3px 0 0 0;text-align:center}.btr-pager li span{border:0 none;padding:5px 5px 0 0;display:inline-block}.btr-pager .first,.btr-pager .last,.btr-pager .pager-prev,.btr-pager .pager-next{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.btr-pager .first a,.btr-pager .last a,.btr-pager .pager-prev a,.btr-pager .pager-next a{margin-left:0;background-color:#fff;border:1px solid #B8B8B8;border-radius:3px;display:inline-block}.btr-pager .first a:hover,.btr-pager .last a:hover,.btr-pager .pager-prev a:hover,.btr-pager .pager-next a:hover{background-color:#F2F2F2}.btr-pager .first a:hover span,.btr-pager .last a:hover span,.btr-pager .pager-prev a:hover span,.btr-pager .pager-next a:hover span{background-color:#F2F2F2}.btr-pager .first a span,.btr-pager .last a span,.btr-pager .pager-prev a span,.btr-pager .pager-next a span{background-color:#fff;background-size:40px auto;width:20px;height:20px}.btr-pager .pager-cur a{border:0 none}.btr-pager .first span{background-position:0 -820px}.btr-pager .last span{background-position:0 -800px}ul.btr-pager .pager-prev span{background-position:0 -300px}ul.btr-pager .pager-next span{background-position:0 -280px}.btr-pager .pager-cur a{border:1px solid #B8B8B8}.btr-pager .pager-total a:hover{border:0 none}.btr-pager .disabled>a,.btr-pager .disabled>a:hover,.btr-pager .disabled>a:focus{cursor:default;background-color:#F2F2F2;border:1px solid #E3E3E3}.btr-pager .disabled>a span,.btr-pager .disabled>a:hover span,.btr-pager .disabled>a:focus span{background-color:#F2F2F2}.btr-pager .disabled>a .icon-left,.btr-pager .disabled>a:hover .icon-left,.btr-pager .disabled>a:focus .icon-left{background-position:0 -960px}.btr-pager .disabled>a .icon-right,.btr-pager .disabled>a:hover .icon-right,.btr-pager .disabled>a:focus .icon-right{background-position:0 -940px}.btr-pager .disabled>a .icon-first-page,.btr-pager .disabled>a:hover .icon-first-page,.btr-pager .disabled>a:focus .icon-first-page{background-position:0 -1000px}.btr-pager .disabled>a .icon-last-page,.btr-pager .disabled>a:hover .icon-last-page,.btr-pager .disabled>a:focus .icon-last-page{background-position:0 -980px}.btr-pager-holder{text-align:center;width:100%}.btr-pager-holder:before,.btr-pager-holder:after{content:" ";display:table}.btr-pager-holder:after{clear:both}.btr-pager-holder .btr-pager{display:inline-block;margin:0 auto;width:auto}

/* Mediaplayer */


body .btr-MediaPlayerControls {
	cursor: pointer;
	position: absolute;
	bottom: 4px;
	right: 2px;

	height: 28px;
	width: 28px;
}

.btr-MediaPlayerControls.icon-play {
	background-position: 0 -308px;
	background-size: 56px auto;
}
.btr-MediaPlayerControls.icon-play:hover {
	background-position: -28px -308px;
}
.btr-MediaPlayerControls.icon-pause {
	background-position: 0 -336px;
	background-size: 56px auto;
}
.btr-MediaPlayerControls.icon-pause:hover {
	background-position: -28px -336px;
}

.btr-MediaPlayerControls.icon-loading,
.btr-MediaPlayerControls.icon-loading:hover {
	background-position: 0 -900px; /* 1260/28*height */
	background-size: 40px auto;
	height: 20px;
	width: 20px;

	bottom: 8px;
	right: 6px;
}


/* SETTINGS */

#btr-settings {
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:600px;
	height:600px;
	max-width:90%;
	max-height:90%;

	box-shadow:0 1px 3px rgba(150,150,150,0.74);
	background:white;
	color:rgb(25,25,25);
	z-index:10000;

	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

#btr-settings.visible {
	display:block;
}

#btr-settings .btr-settings-toggle {
	display:block;
	position:absolute;
	top:6px;
	right:6px;

	width:20px;
	height:24px;

	color:white;
	font-weight:600;
	font-size:18px;
	text-align:center;
	line-height:24px;
}

#btr-settings .btr-settings-toggle:hover {
	color:lightgray;
}

#btr-settings iframe {
	border:none;
	width:100%;
	height:100%;
	overflow:hidden;
}


/* Switch */

.btr-switch {
	position: relative;
	width: 80px;
	height: 30px;
	background: white;
	border: 3px solid #eee;
	border-radius: 20px;

	overflow: hidden;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	color: #343434;

	box-sizing: content-box;
}

.btr-switch div {
	line-height: 30px;
	text-align: center;
	font-size: 20px;
}

.btr-switch .btr-switch-off {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
}

.btr-switch .btr-switch-on {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
}

.btr-switch input[type="checkbox"] {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	-webkit-appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

.btr-switch[disabled] input[type="checkbox"] {
	cursor: initial;
}

.btr-switch .btr-switch-flip {
	position: absolute;
	width: 50%;
	height: 100%;

	background: #00BA55;
	border-radius: 20px;
	left: 0;

	transition: left ease-in-out .1s;
	pointer-events: none;
	overflow: hidden;

	color: #FFFFFF;
}

.btr-switch input:checked + .btr-switch-flip {
	left: 50%;
}

.btr-switch .btr-switch-flip .btr-switch-off {
	width: 100%;
	left: 0%;

	transition: left ease-in-out .1s;
}

.btr-switch .btr-switch-flip .btr-switch-on {
	width: 100%;
	right: -100%;

	transition: right ease-in-out .1s;
}

.btr-switch input:checked + .btr-switch-flip .btr-switch-off {
	left: -100%;
}

.btr-switch input:checked + .btr-switch-flip .btr-switch-on {
	right: 0;
}


/* Explorer */

.btr-modelviewer {
	width: 552px;
	position: relative;
	display: flex;
	height: 420px;
}

.btr-explorer, .btr-properties {
	min-width: 50%;
	position: relative;
	flex: 0 0 50%;
	white-space: nowrap;
	overflow: auto;
}

.btr-explorer-header {
	width: 100%;
	height: 24px;
	display: flex;
}

.btr-explorer-view-btn {
	flex: 1;
	cursor: pointer;
	max-width: 33%;
	text-align: center;

	background: #F6F6F6;
	border: 1px solid #DDDDDD;

	overflow: hidden;
	text-overflow: ellipsis;
}

.btr-explorer-view-btn:hover {
	background: #F9F9F9;
}

.btr-explorer-view-btn.selected {
	background: #D9D9D9;
}

.btr-explorer-header.hidden {
	display: none;
}

.btr-explorer-list {
	padding: 10px;
}

.btr-explorer-childlist {
	padding-left: 20px;
}

.btr-explorer-item {
	display: inline-block;
	height: 22px;
	padding-right: 6px;
	margin: 1px 0;

	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #000;

	cursor: default;
}

.btr-explorer-item:hover {
	background-color: #D8E4F7;
	outline: 1px solid #BFCDE4;
}

.btr-explorer-item.selected {
	background-color: #618ED5;
	outline: 1px solid #567DBC;
	color: white;
}

.btr-explorer-more {
	position: relative;
	float: left;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 3px;
	margin-right: 0;
}

.hasChildren>.btr-explorer-more::before {
	content: "v";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 16px;
	text-align: center;
	font-size: 12px;

	font-weight: 600;
	color: #000;
}

.hasChildren.closed>.btr-explorer-more::before {
	content: ">";
	color: #88F;
}

.btr-explorer-icon {
	float: left;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 3px;
	margin-right: 4px;

	background-image: url('chrome-extension://__MSG_@@extension_id__/res/icon-explorer.png');
	background-repeat: no-repeat;
	background-size: auto 16px;
}

.btr-explorer-item-container.closed>.btr-explorer-childlist {
	display: none;
}

.btr-explorer-list>li, .btr-explorer-childlist>li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btr-properties {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
}

.btr-properties-header {
	width: 100%;
	height: 20px;

	background: #D0D0D0;

	color: #000;
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;

	text-align: center;
}

.btr-property-item {
	display: flex;
	height: 22px;
	line-height: 22px;
}

.btr-property-name {
	flex: 0 0 60%;
	border-right: 1px solid #EEEEEE;
	font-size: 14px;
	font-weight: 500;
	padding: 2px 4px;
}

.btr-property-value {
	position: relative;
	flex: 0 0 40%;
	font-size: 14px;
	font-weight: 500;
	padding: 2px 4px;

	overflow: hidden;
	text-overflow: ellipsis;
}

.btr-property-value .more {
	position: absolute;
	right: 0;
	top: 1px;
	bottom: 1px;
	width: 20px;

	background: white;
	border: 1px solid #EEEEEE;
	padding: 2px;
}

.btr-property-value textarea {
	display: block;
	background: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	resize: none;

	overflow: hidden;
	white-space: nowrap;
}

.btr-property-value textarea::focus {
	background: white;
}

.btr-properties-list {
	max-height: calc(100% - 20px);
	overflow: auto;
}

.btr-properties-list li {
	background-color: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
}

.btr-properties-list li:nth-child(2n) {
	background-color: #F9F9F9;
}

/* Ew */

#downloadInstallerIFrame {
	border: none;
}

.rbx-header .age-bracket-label {
	display: none !important;
}