.btr-hide-ads .content {
	width: 970px;
}

body .content .btr-CurrentPage {
	display: inline-block;
	background: white;
	border: 1px solid #b8b8b8;

	height:25px;
	min-width:5px;
	border-radius:3px;
	padding:2px 8px;
	margin-top:3px;
	margin-right:6px;

	color: #191919;
}

.btr-messages .message-actions .btn-control-sm {
	margin-right: 6px;
}