.btr-hide-ads .MyMoneyPage #TabsContentContainer, 
.btr-hide-ads .MyMoneyPage .WhiteSquareTabsContainer {
	width:800px;
}

.btr-hide-ads #Body {
	width:810px !important;
}

.btr-hide-ads #BodyWrapper {
	width:830px !important;
}

/* Fix devex robux styling */
.Amount .icon-robux-16x16:last-child {
	padding-left: 20px;
}