.btr-versionHistory .btr-versionList,
.btr-versionHistory .btr-pager-holder {
	float: left;
}

.btr-versionList {
	display: block;
	width: 100%;

	margin-bottom: 20px;
}

.btr-versionHistory .list-item {
	float: left;
	width: 20%;
	height: auto;
	padding: 0 4px;
	margin-bottom: 8px;

	box-sizing: border-box;
}

.btr-versionHistory .version-card {
	position: relative;
	background-color: #fff;
	box-shadow: 0 1px 4px 0 rgba(25, 25, 25, .3);
	border-radius: 3px;
	margin: 0 auto;
	padding: 0;
	width: 100%;

	text-align: left;
	overflow: hidden;
}

.btr-versionHistory .version-thumb-container {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.btr-versionHistory .version-thumb {
	width: 100%;
	height: auto;

	border: none;
	background: none;
}

.btr-versionHistory .version-dropdown {
	position: absolute;
	top: 0;
	right: 0;
	width: 28px;
	height: 28px;
	padding: 1px 4px;
}

.popover-content .dropdown-menu.btr-version-dropdown-menu li a {
	font-weight: 400;
}

.btr-versionHistory .version-number,
.btr-versionHistory .version-date {
	padding: 1px 6px;
	height: 18px;

	overflow: hidden;
}

.btr-versionHistory .version-number {
	margin-top: 4px;
}

.btr-versionHistory .version-date {
	margin-bottom: 4px;
}