/* Main */

.btr-profile .content {
	max-width: none;
	width: 1072px;
}

.btr-profile .profile-container {
	max-width: none;
}

.btr-profile .btr-profile-left {
	padding-right: 6px;
}

.btr-profile .btr-profile-right {
	padding-left:6px;
}

.btr-profile .container-header {
	min-height: 32px;
}

.btr-profile .rbx-tabs-horizontal {
	display: none !important;
}

.btr-profile .btr-pager-holder {
	margin-top: 12px;
}

.btr-profile .btr-section-content-off {
	background: none;
}

.btr-profile div[class^="placeholder-"] .btr-section-content-off {
	display: block;
	padding: 36px;
}

.btr-profile div.placeholder-favorites .btr-section-content-off {
	padding: 12px;
}

/* Player status */

.btr-profile .btr-header-status-parent {
	display:block;
	clear:both;
	max-width:100%;
	text-align:center;
	padding:6px 0;
}

.btr-profile .btr-header-status-text {
	font-weight:400;
	white-space:nowrap;
	display:inline-block;
}

.btr-profile .btr-header-status-text span {
	display:inline-block;
}

.btr-profile .btr-header-status-text:before {
	content: "[ ";
}

.btr-profile .btr-header-status-text:after {
	content: " ]";
}

.btr-profile .btr-header-status-follow-button {
	margin-left:8px;
	padding:2px;
	color:rgb(2,143,47);
	font-size:14px;
	vertical-align:middle;
}


.btr-profile .btr-status-offline {
	color:gray;
}

.btr-profile .btr-status-ingame {
	color:rgb(2,143,47);
}

.btr-profile .btr-status-studio {
	color:rgb(246,136,2);
}

.btr-profile .btr-status-online {
	color:rgb(0,162,255);
}

/* Avatar */

.btr-profile .profile-avatar-left .btr-toggle-items {
	position: absolute;
	right: 12px;
	bottom: 12px;
}

.btr-profile .profile-avatar-right {
	float: none;
	top: 300px;
	z-index: 100;

	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

.btr-profile .profile-avatar-right.visible {
	opacity: 1;
	pointer-events: initial;
	transition: opacity 0.3s;
}

/* Description */

.btr-profile .profile-about-content .profile-about-text {
	text-align: center;
	line-height: 1.5em;
}

.btr-profile .profile-about-content .profile-about-text.para-height {
	max-height: 220px;
}

.btr-profile .profile-about-content .profile-about-text:after {
	text-align: left;
}

.btr-profile .profile-about .profile-about-content .profile-about-content-text {
	white-space: pre-line;
}

/* Stats */

.btr-profile .profile-stats-container {
	border-top: 1px solid #B8B8B8;
}

/* Roblox Badges */

.btr-profile .btr-profile-robloxbadges .badge-list:not(.badge-list-more) {
	max-height: 246px;
}

.btr-profile .btr-profile-robloxbadges .asset-item {
	width: 20%;
}

.btr-profile .btr-profile-robloxbadges .asset-item span[title] {
	zoom: 0.65;
	border-radius: 0; /* Zoom doesn't work with border-radius? */
}

.btr-profile .btr-profile-robloxbadges .asset-item .item-name {
	width:100%;
	text-align: center;
}

/* Player Badges */

.btr-profile .btr-profile-playerbadges .hlist {
	min-height: 122px;
	max-height: 244px;
}

.btr-profile .btr-profile-playerbadges .hlist .list-item {
	width: 20%;
}

.btr-profile .btr-profile-playerbadges .hlist .list-item img {
	width: 90px;
	height: 90px;
}

.btr-profile .btr-profile-playerbadges .hlist .list-item .item-name {
	width: 100%;
	text-align: center;
}

/* Games */

.btr-profile .profile-container .profile-game {
	margin-bottom: 0;
}

.btr-profile .btr-games-list .btr-game {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 3px;

	display: none;
}

.btr-profile .btr-games-list .btr-game.visible {
	display: block;
}

.btr-profile .btr-games-list .btr-game-button {
	position: relative;
	padding: 4px 12px;

	background-color: #fdfdfd;
	border: 1px solid #b8b8b8;
	color: #191919;
	cursor: pointer;
	font-weight: 400;

	z-index: 2;

	-webkit-user-select: none;
	user-select: none;
}

.btr-profile .btr-games-list .btr-game-button:hover {
	box-shadow: 0 1px 3px rgba(150,150,150,0.74);
}

.btr-profile .btr-games-list .btr-game-button .btr-game-title {
	-webkit-user-select: initial;
	user-select: initial;
}

.btr-profile .btr-games-list .btr-game-content {
	position: relative;
	padding:0 6px;

	overflow: hidden;
	max-height: 0;
	transition: max-height .2s;
}

.btr-profile .btr-games-list .btr-game.selected .btr-game-content {
	max-height: 1000px;
}

.btr-profile .btr-games-list .btr-game-thumb-container {
	position: relative;
	height: 277px;
}

.btr-profile .btr-games-list .btr-game-thumb {
	border: none;
	width: 100%;
}

.btr-profile .btr-games-list .btr-game-thumb:not([src]) {
	opacity: 0;
}

.btr-profile .btr-games-list .btr-game-icon {
	display: block;
	position: absolute;
	right: 12px;
	bottom: -12px;
	width: 20%;

	border: 1px solid gray;
	background-color: white;
	border-radius: 9px;
}

.btr-profile .btr-games-list .btr-game-desc {
	position: relative;
	float: left;
	width: 100%;
	padding: 8px 16px 0;
	margin-top: 16px;

	max-height: 168px;
	overflow: hidden;

	white-space: pre-wrap;
	word-break: break-word;
}

.btr-profile .btr-games-list .btr-game-desc.expanded {
	max-height: none;
	padding-bottom: 20px;
}

.btr-profile .btr-games-list .btr-game-desc .btr-toggle-description {
	color: #00A2FF;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: #fff;
	padding: 1px 6px;
}

.btr-profile .btr-games-list .btr-game-desc:not(.expanded) .btr-toggle-description:before {
	content: "...";
}

.btr-profile .btr-games-list .btr-game-desc .btr-toggle-description:hover {
	cursor: pointer;
	text-decoration: underline;
}

.btr-profile .btr-games-list .btr-game-info {
	position: relative;
	height: 80px;
	padding: 15px 0;
}

.btr-profile .btr-games-list .btr-game-playbutton-container {
	height: 100%;
	text-align: center;
}

.btr-profile .btr-games-list .btr-game-playbutton {
	width: 88%;
}

.btr-profile .btr-games-list .btr-game-stats {
	height: 100%;
}

.btr-profile .btr-games-list .btr-game-stats .list-item {
	width: 50%;
	text-align: center;
}

.btr-profile .game-grid .game-container {
	width: 33.33%;
}

/* Friends */

.btr-profile .home-friends .friend-list {
	max-height: 240px;
}

.btr-profile .home-friends .friend {
	width: 20%;
}

/* Favorites */

.btr-profile .btr-profile-favorites .game-card {
	float: left;
	width: 33.33%;
	height: auto;
	padding: 0 5px;
}

.btr-profile .btr-profile-favorites .game-card-thumb-container,
.btr-profile .btr-profile-favorites .game-card-thumb {
	width: 100%;
	height: auto;
}

.btr-profile .btr-profile-favorites .game-card-thumb.unloaded {
	height: 0;
	margin-bottom: 100%;
}

.btr-profile .btr-profile-favorites .game-card-name-secondary {
	margin-top: 6px;
	margin-bottom: 4px;
	height: 16px;
}

.btr-profile .btr-profile-favorites .game-card-name-secondary .text-label,
.btr-profile .btr-profile-favorites .game-card-name-secondary .text-link {
	float: left;
}

.btr-profile .btr-profile-favorites .game-card-name-secondary .text-link {
	width: calc(100% - 24px);
	margin-left: 3px;
}

.btr-profile .btr-profile-favorites .input-group-btn {
	float: right;
	width: 160px;
	margin-right: 6px;
	margin-top: -2px;
}

.btr-profile .btr-profile-favorites .input-dropdown-btn {
	padding: 4px 10px;
}

.btr-profile .btr-profile-favorites .input-dropdown-btn .rbx-selection-label {
	line-height: 20px;
}

.btr-profile .btr-profile-favorites .input-dropdown-btn span[class^="icon"] {
	margin-top: 2px;
}

.btr-profile .btr-profile-favorites .dropdown-menu {
	max-height: none;
}

.btr-profile .btr-profile-favorites .dropdown-menu li a {
	padding: 6px 10px;
}

/* Groups */

.btr-profile .btr-profile-groups .game-card {
	float: left;
	width: 25%;
	padding: 0 5px;
	margin-top: 2px;
	margin-bottom: 8px;
	height: auto;

	display: none;
}

.btr-profile .btr-profile-groups .game-card.visible {
	display: block;
}

.btr-profile .btr-profile-groups .game-card-thumb-container,
.btr-profile .btr-profile-groups .game-card-thumb {
	width: 100%;
	height: auto;
}

.btr-profile .btr-profile-groups .game-card-thumb.unloaded {
	height: 0;
	margin-bottom: 100%;
}

/* Inventory */

#btr-injected-inventory {
	border: 0;
	width: 100%;
	height: 0px;
}

/* Columns */

.btr-profile-col-1, .btr-profile-col-2 {
	display: block;
	position: relative;
	float: left;
}

.btr-profile-col-1 { width: 100%; }
.btr-profile-col-2 { width: 50%; }
.btr-profile-col-3 { width: 33.333%; }
.btr-profile-col-4 { width: 25%; }
.btr-profile-col-5 { width: 20%; }