/* Main */

.btr-profile .content {
	max-width: none;
	width: 1072px;
}

.btr-profile .profile-container {
	max-width: none;
}

.btr-profile .btr-profile-left,
.btr-profile .btr-profile-right {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.btr-profile .btr-profile-left {
	padding-right: 6px;
}

.btr-profile .btr-profile-right {
	padding-left: 6px;
}

.btr-profile .container-header {
	min-height: 32px;
}

.btr-profile .rbx-tabs-horizontal {
	display: none !important;
}

.btr-profile .btr-pager-holder {
	margin-top: 12px;
}

html .btr-profile .btr-section-content-off,
html .light-theme.btr-profile .btr-section-content-off,
html .dark-theme.btr-profile .btr-section-content-off {
	background: none;
}

.btr-profile div[class^="placeholder-"] .btr-section-content-off {
	display: block;
	padding: 36px;
}

.btr-profile div.placeholder-favorites .btr-section-content-off {
	padding: 12px;
}

/* Player status */

.btr-profile .btr-header-status-parent {
	display:block;
	clear:both;
	max-width:100%;
	text-align:center;
	padding:6px 0;
}

.btr-profile .btr-header-status-text {
	font-weight:400;
	white-space:nowrap;
	display:inline-block;
}

.btr-profile .btr-header-status-text span {
	display:inline-block;
}

.btr-profile .btr-header-status-text:before {
	content: "[";
	padding-right: 2px;
}

.btr-profile .btr-header-status-text:after {
	content: "]";
	padding-left: 2px;
}

.btr-profile .btr-header-status-follow-button {
	margin-left: 4px;
	padding: 2px;
	color: rgb(2,143,47);
	font-size: 14px;
	vertical-align: middle;
}


.btr-profile .btr-status-offline {
	color:gray;
}

.btr-profile .btr-status-ingame {
	color:rgb(2,143,47);
}

.btr-profile .btr-status-studio {
	color:rgb(246,136,2);
}

.btr-profile .btr-status-online {
	color:rgb(0,162,255);
}

/* Avatar */

.btr-profile .profile-avatar {
	position: relative;
}

.btr-profile .profile-avatar-left {
	width: 100%;
	background: transparent !important;
}

.btr-profile .profile-avatar-left .btr-toggle-items {
	position: absolute;
	right: 12px;
	bottom: 12px;
}

.btr-profile .profile-avatar-right {
	position: absolute;
	width: 100%;

	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
	z-index: 10000;
}

.dark-theme.btr-profile .profile-avatar-right {
	outline: 1px solid #232527;
}

.btr-profile .profile-avatar-right.visible {
	opacity: 1;
	pointer-events: initial;
	transition: opacity 0.3s;
}

/* Description */

.btr-profile-about > .section-content {
	padding-bottom: 8px;
}

.btr-profile profile-description,
.btr-profile profile-description > .profile-about,
.btr-profile profile-description > .profile-about > .section-content,
.btr-profile profile-description profile-description-view {
	display: contents;
}

.btr-profile profile-description .container-header {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
}

.btr-profile .profile-about-content {
	text-align: right; /* Align Read More to right */
}

.btr-profile .profile-about-content .profile-about-text {
	text-align: center;
	line-height: 1.5em;
	overflow: hidden;
}

.btr-profile .profile-about-content .profile-about-text.para-height {
	max-height: 265px;
}

.btr-profile .profile-about-content .profile-about-text.para-overflow-toggle-off {
	padding-bottom: 26px;
}

.btr-profile .profile-about-content .profile-about-text .toggle-para {
	background-color: white;
	padding-left: 4px
}

.dark-theme.btr-profile .profile-about-content .profile-about-text .toggle-para {
	background-color: #393b3d;
}

.btr-profile .profile-about-content .profile-about-content-text {
	white-space: pre-line;
}

/* Aliases */

.btr-profile #aliases-container .border-top {
	display: flex;
	flex-direction: row;
	padding-top: 8px;
}

.btr-profile #aliases-container .border-top > div:first-child {
	flex: 0 0 auto;
	margin-right: 8px;
}

.btr-profile #aliases-container .border-top .spinner {
	margin: -1px auto;
}

.btr-profile #aliases-container .user-tag-container {
	flex: 1 1 auto;
}

/* Stats */

.btr-profile .profile-statistics,
.btr-profile .profile-statistics > .section-content {
	display: contents !important;
}

.btr-profile .profile-statistics > .container-header {
	display: none !important;
}

.btr-profile .profile-stats-container {
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
	margin-top: 10px;
}

.btr-profile .profile-stats-container.btr-lastOnline .profile-stat {
	width: 33.33%;
}

/* About Footer */

.btr-profile .profile-about-footer {
	border: none;
}

/* Roblox Badges (new) */

.btr-profile #roblox-badges-container .badge-list {
	max-height: 256px;
}

.btr-profile #roblox-badges-container .badge-list.badge-list-more {
	max-height: none;
	overflow-x: hidden;
}

.btr-profile #roblox-badges-container .badge-list > .list-item {
	width: 20%;
	text-align: center;
	overflow: hidden;
}

.btr-profile #roblox-badges-container .badge-list > .list-item .asset-thumb-container {
	margin-left: 5px;
	transform: scale(calc(90 / 140));
	transform-origin: 0 0;

	margin-bottom: -50px;
}

.btr-profile #roblox-badges-container .badge-list > .list-item .item-name {
	width: 100%;
	font-size: 14px;

	text-align: center;
	text-overflow: ellipsis;
}

/* Roblox Badges (Legacy) */

.btr-profile .btr-profile-robloxbadges .badge-list:not(.badge-list-more) {
	max-height: 246px;
}

.btr-profile .btr-profile-robloxbadges .asset-item {
	width: 20%;
	overflow: hidden;
}

.btr-profile .btr-profile-robloxbadges .asset-item .asset-thumb-container {
	display: inline-block;
	width: 90px;
	height: 90px;

	border-radius: 8px;
}

.btr-profile .btr-profile-robloxbadges .asset-item .asset-thumb-container span {
	/* Resize the background image without needing to redo all positions */
	transform: scale(calc(90 / 140));
	transform-origin: 0 0;
}

.btr-profile .btr-profile-robloxbadges .asset-item .item-name {
	width: 100%;
	font-size: 14px;

	text-align: center;
	padding: 0 1px;
}

/* Player Badges */

.btr-profile .btr-profile-playerbadges .asset-item {
	width: 20%;
}

.btr-profile .btr-profile-playerbadges .asset-item .asset-thumb-container {
	display: inline-block;
	width: 90px;
	height: 90x;
	border-radius: 8px;
}

.btr-profile .btr-profile-playerbadges .asset-item .asset-thumb-container img {
	width: 90px;
	height: 90px;
}

.btr-profile .btr-profile-playerbadges .hlist .list-item .item-name {
	width: 100%;
	font-size: 14px;

	text-align: center;
	padding: 0 1px;
}

/* Games */

.btr-profile .profile-container .profile-game {
	margin-bottom: 0;
}

.btr-profile .btr-games-list .btr-game {
	position: relative;
	width: 100%;
	margin-bottom: 3px;

	display: none;
}

.btr-profile .btr-games-list .btr-game.visible {
	display: block;
}

.btr-profile .btr-games-list .btr-game-dropdown {
	position: absolute;
	right: 13px;
	top: 1px;
	z-index: 10;
}

.btr-profile .btr-games-list .btr-game-button {
	position: relative;
	padding: 4px 12px;

	background-color: #fdfdfd;
	border: 1px solid #b8b8b8;
	cursor: pointer;
	font-weight: 400;

	z-index: 2;

	user-select: none;
	-moz-user-select: none;
}

.dark-theme.btr-profile .btr-games-list .btr-game-button {
	background-color: #656668;
	border-color: #656668;
}

.btr-profile .btr-games-list .btr-game-button:hover {
	box-shadow: 0 1px 3px rgba(150,150,150,0.74);
}

.btr-profile .btr-games-list .btr-game-button .btr-game-title {
	user-select: initial;
	-moz-user-select: none;
}

.btr-profile .btr-games-list .btr-game-content {
	position: relative;
	padding: 0 6px;

	overflow: hidden;
	max-height: 0;
}

.btr-profile .btr-games-list .btr-game-thumb-container {
	position: relative;
	width: 100%;
	height: 277px;
}

.btr-profile .btr-games-list .btr-game-thumb {
	border: none;
	width: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.btr-profile .btr-games-list .btr-game-thumb:not([src]) {
	opacity: 0;
}

.btr-profile .btr-games-list .btr-game-icon {
	display: block;
	position: absolute;
	right: 12px;
	bottom: -12px;
	width: 20%;

	border: 1px solid gray;
	background-color: white;
	border-radius: 9px;
}

.btr-profile .btr-games-list .btr-game-desc {
	position: relative;
	width: 100%;
	padding: 6px 16px 0;
	margin-top: 16px;
	margin-bottom: 6px;

	max-height: 162px;
	overflow: hidden;

	white-space: pre-wrap;
	word-break: break-word;
}

.btr-profile .btr-games-list .btr-game-desc.expanded {
	max-height: none;
	padding-bottom: 20px;
}

.btr-profile .btr-games-list .btr-game-desc .btr-toggle-description {
	color: #00A2FF;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: #fff;
	padding: 1px 0 1px 4px;
}

.dark-theme.btr-profile .btr-games-list .btr-game-desc .btr-toggle-description {
	background: #393b3d;
}

.btr-profile .btr-games-list .btr-game-desc .btr-toggle-description:hover {
	cursor: pointer;
	text-decoration: underline;
}

.btr-profile .btr-games-list .btr-game-info {
	position: relative;
	height: 80px;
	padding: 15px 0;
}

.btr-profile .btr-games-list .btr-game-playbutton-container {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 100%;
	text-align: center;
}

.btr-profile .btr-games-list .btr-game-playbutton-container.btr-place-prohibited {
	opacity: 0.75;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btr-profile .btr-games-list .btr-game-playbutton {
	width: 88%;
}

.btr-profile .btr-games-list .btr-game-stats {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 100%;
}

.btr-profile .btr-games-list .btr-game-stats .list-item {
	width: 50%;
	text-align: center;
}

.btr-profile .game-grid .game-container {
	width: 33.33%;
}

/* Friends */

.btr-profile .home-friends .people-list {
	height: 296px;
	max-height: 296px;
}

.btr-profile .home-friends .friend {
	width: 20%;
}

/* Favorites */

html .btr-profile .btr-profile-favorites .game-card {
	float: left;
	width: 33.333%;
	height: auto;
	padding: 0 6px;
	margin-top: 2px;
	margin-bottom: 8px;
}

.btr-profile-favorites .game-card-thumb-container {
	border-bottom: 1px solid #E3E3E3;
}

.dark-theme .btr-profile-favorites .game-card-thumb-container {
	border-bottom-color: #656668;
}

.btr-profile-favorites .game-card-thumb-container,
.btr-profile-favorites .game-card-thumb-container .game-card-thumb {
	width: 100%;
	height: auto;
}

.btr-profile-favorites .game-card-thumb-container .game-card-thumb.unloaded {
	height: 0;
	margin-bottom: 100%;
}

.btr-profile-favorites .game-card .game-card-name {
	font-size: 14px;
}

.btr-profile-favorites .game-card-name-secondary {
	padding-bottom: 2px;
}

.btr-profile-favorites .btr-creator-link-container {
	line-height: 14px;
	padding-left: 0;
}

.btr-profile-favorites .card-item .btr-creator-link:any-link {
	display: inline-block;
	vertical-align: bottom;
	max-width: calc(100% - 22px);
	font-size: 12px;
}

.btr-profile-favorites .input-group-btn {
	float: right;
	width: 140px;
	margin-right: 10px;
	margin-top: -4px;
}

.btr-profile-favorites .input-group-btn .input-dropdown-btn {
	padding: 2px 10px;
}

.btr-profile-favorites .input-dropdown-btn .rbx-selection-label {
	line-height: 20px;
}

.btr-profile-favorites .input-dropdown-btn span[class^="icon"] {
	margin-top: 2px;
}

.btr-profile-favorites .dropdown-menu {
	max-height: none;
}

.btr-profile-favorites .dropdown-menu li a {
	padding: 6px 10px;
}

/* Groups */

.btr-profile-groups .game-card {
	float: left;
	width: 25%;
	padding: 0 4px;
	margin-top: 2px;
	margin-bottom: 8px;
	height: auto;

	display: none;
}

.btr-profile-groups .game-card.visible {
	display: block;
}

.btr-profile-groups .game-card-thumb-container {
	border-bottom: 1px solid #E3E3E3;
}

.dark-theme .btr-profile-groups .game-card-thumb-container {
	border-bottom-color: #656668;
}

.btr-profile-groups .game-card-thumb-container,
.btr-profile-groups .game-card-thumb-container .game-card-thumb {
	width: 100%;
	height: auto;
}

.btr-profile-groups .game-card-thumb-container .game-card-thumb.unloaded {
	height: 0;
	margin-bottom: 100%;
}

.btr-profile-groups .game-card .game-card-container .game-card-name {
	font-size: 14px;
}

.btr-profile-groups .game-card .game-card-name-secondary {
	padding: 0;
	margin: 0;
}

/* Inventory */

#btr-injected-inventory {
	border: 0;
	width: 100%;
	height: 0px;
}