.btr-settings-modal {
	position: fixed;
	display: flex;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;

	font-size: 16px;
	font-weight: 300;

	align-items: center;
	justify-content: center;

	pointer-events: none;
	z-index: 10000;

	color: #191919;
}

.btr-settings-modal,
.btr-settings-modal * {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

.btr-settings {
	display: flex;
	flex-direction: column;
	width: 640px;
	max-width: 80%;
	height: auto;
	max-height: 90%;

	background: white;
	box-shadow: 0 -5px 20px rgba(25,25,25,0.15);

	color: #191919;
	border-radius: 3px;

	overflow: hidden;
	overscroll-behavior: contain;

	pointer-events: all;
	position: relative;
}

.btr-dark-theme .btr-settings {
	background: #232527;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
	color: white;
}

.btr-settings-header {
	flex: 0 0 auto;
	display: flex;
	height: 30px;
	align-items: center;
}

.btr-light-theme .btr-settings-header {
	background: #dee1e3;
	color: #393b3d;
}

.btr-dark-theme .btr-settings-header {
	background: #191b1d;
	color: #fff;

	border-bottom: 1px solid #18191B;
}

.btr-settings-content {
	flex: 1 1 auto;
	overflow: auto;
	overflow-x: hidden;
	overscroll-behavior: contain;

	position: relative;
	
	padding: 6px;
}

.btr-setting-reset-button {
	display: inline-block;
	position: absolute;
	margin-left: 4px;
	margin-top: 3px;
	
	height: 19px;
	width: 19px;
	
	cursor: pointer;
	
	--btr-text-color: #000;
	--btr-bg-color: #fff;
}

.dark-theme .btr-setting-reset-button {
	--btr-text-color: #fff;
	--btr-bg-color: #393b3d;
}

.btr-setting-reset-button .btr-cross {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggc3R5bGU9ImNvbG9yOiMwMDAiIGQ9Ik0gMTMuODQsMCA4LDUuODQgMi4xNiwwIDAsMi4xNiBjIDEuOTQsMS45NCAzLjg5LDMuODkgNS44NCw1Ljg0IEwgMCwxMy44NCAyLjE2LDE2IDgsMTAuMTYgYyAxLjk0LDEuOTQgMy44OSwzLjg5IDUuODQsNS44NCBsIDIuMTYsLTIuMTYgLTUuODQsLTUuODQgNS44NCwtNS44NCB6Ii8+PC9zdmc+);
	background-repeat: no-repeat;
	background-size: 9px 9px;
	background-position: 50% 50%;
}

.dark-theme .btr-setting-reset-button .btr-cross {
	filter: invert(1);
}

.btr-setting-reset-button.disabled {
	cursor: initial;
	visibility: hidden;
}

.btr-settings-enabled-toggle .btr-setting-reset-button {
	right: 100%;
	margin-right: 4px;
}

.btr-setting-reset-button:hover {
	background-color: rgba(150, 150, 150, .2);
	z-index: 10000;
}

.btr-setting-reset-button:after {
	position: absolute;
	display: block;
	background: var(--btr-bg-color);
	color: var(--btr-text-color);
	border: 1px solid #888;

	right: 50%;
	top: 100%;
	width: 100px;

	margin-top: 5px;
	margin-right: -14px;
	text-align: center;

	padding: 1px;
	border-radius: 6px;

	font-size: 12px;
	z-index: 1;

	content: "Reset to Default";
	pointer-events: none;
}

.btr-setting-reset-button:before {
	position: absolute;
	display: block;
	background: var(--btr-bg-color);
	color: var(--btr-text-color);
	border: 1px solid #888;
	border-right: none;
	border-bottom: none;

	right: 50%;
	top: 100%;

	margin-top: 2px;

	width: 6px;
	height: 6px;

	z-index: 2;
	transform: translateX(50%) rotate(45deg);

	content: "";
	pointer-events: none;
}

.btr-setting-reset-button:not(:hover):before,
.btr-setting-reset-button:not(:hover):after {
	visibility: hidden;
}


.btr-settings-content:not(.selected) { display: none !important; }

.btr-settings .btr-close-subcontent {
	float: left;
	padding: 3px;
	margin-right: 8px;
}

.btr-settings .btr-close-subcontent .icon-left {
	width: 20px;
	height: 20px;
	background-size: 40px auto;
	background-position: 0 -300px !important;
}

.btr-settings-content h4 {
	display: inline-block;
	padding: 3px 0;
}

.btr-settings-content-header {
	margin-bottom: 4px;
}

.btr-settings-footer {
	display: flex;
	flex: 0 0 auto;
	height: 24px;
	line-height: 24px;

	padding: 0 4px;

	padding-right: 4px;
	border-top: 1px solid #E8E8E8;
}

.btr-dark-theme .btr-settings-footer {
	border-top-color: #191b1d;
}

.btr-settings-footer-version {
	flex: 1;
	text-align: left;
}

.btr-settings-footer-text {
	flex: 1;
	text-align: right;
}

.btr-settings-header-title {
	display: inline-block;
	margin-left: 6px;
	font-weight: bold;
}

.btr-settings-header-close {
	float: right;
	margin-right: 4px;
	padding: 6px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
}

.btr-settings .btr-settings-enabled-toggle {
	position: absolute;
	top: 8px;
	right: 8px;
	display: block;
	float: right;
	width: 54px;
	height: 24px;
	padding: 2px;
	margin: 0;

	-webkit-appearance: none;
	-moz-appearance: none;
	background: #B8B8B8;
	border-radius: 12px;

	font-size: 12px;
	font-weight: 400;
	text-align: right;

	user-select: none;
	-moz-user-select: none;

	outline: none;
	cursor: pointer;
}

.btr-settings-enabled-toggle.checked {
	background: #02b757;
	text-align: left;
}

.btr-settings-enabled-toggle:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	right: auto;
	width: 20px;
	height: 20px;

	background: #fff;
	border-radius: 10px;
	user-select: none;
	-moz-user-select: none;
}

.btr-settings-enabled-toggle.checked:before {
	left: auto;
	right: 2px;
}

.btr-settings-enabled-toggle:after {
	content: "OFF";
	display: flex;
	height: 100%;
	margin-right: 4px;
	margin-left: 7px;
	user-select: none;
	-moz-user-select: none;
	align-items: center;
	justify-content: flex-end;
	color: #fff;
}

.btr-settings-enabled-toggle.checked:after {
	content: "ON";
	justify-content: flex-start;
}

.btr-settings-content group {
	display: block;
	padding: 8px;
	padding-top: 0; /* Done in .btr-setting-group-title-container */
	padding-bottom: 12px;

	position: relative;
}

.btr-settings-content group.btr-group-disabled {
	background:rgba(0, 0, 0, 0.02);
}

#btr-settings-main group:not(:first-child) {
	border-top: 1px solid #E8E8E8;
}

.btr-settings-content group .btr-setting-group-title-container {
	position: relative;
	padding-top: 8px;
}

.btr-settings-content group .btr-setting-group-title-container h4 {
	display: block;
	/* color: #191919; */
	font-size: 18px;
	margin: 0 0 5px;
	padding: 0;
	line-height: 1em;
}

.btr-settings-content group.btr-group-disabled .btr-setting-group-title-container h4,
.btr-settings-content group.btr-group-disabled checkbox input[disabled] + label {
	opacity: 0.6;
}


.btr-settings-content group[minimizable] .btr-setting-group-title-container h4 {
	cursor: pointer;
	margin: -8px -14px 0;
	padding: 12px 14px;
}

.btr-settings-content group[minimizable] .btr-setting-group-title-container h4:hover {
	background: rgba(0, 0, 0, .02);
}

.btr-dark-theme .btr-settings-content group[minimizable] .btr-setting-group-title-container h4:hover {
	background: rgba(255, 255, 255, .05);
}

.btr-settings-content group[minimizable] .btr-setting-group-title-container h4:after {
	content: "";
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 20px;
	right: 18px;

	transform: rotate(45deg);
	border-color: #191919;
	border-width: 1px 0 0 1px;
	border-style: solid;
}

.btr-dark-theme .btr-settings-content group[minimizable] .btr-setting-group-title-container h4:after {
	filter: invert(100%);
}

.btr-settings-content group[minimizable][minimized] .btr-setting-group-title-container h4:after {
	top: 14px;
	border-width: 0 1px 1px 0;
}

.btr-settings-content group[minimizable] {
	overflow: hidden;

	user-select: none;
	-moz-user-select: none;
}

.btr-settings-content group[minimizable] .btr-setting-group-content {
	transition: height .5s;
	overflow: hidden;
}


.btr-settings-content button {
	vertical-align: bottom;
}

.btr-settings-content empty {
	display: inline-block; 
	width: 50%;
	height: 20px;
}

.btr-settings-content checkbox {
	display: inline-block;
	width: 50%;

	margin: 0;
	padding: 2px 0;
}

.btr-settings-content checkbox label {
	margin-left: 4px;
	font-size: 16px;
}

.btr-settings-checkbox input[type="checkbox"] {
	position: absolute;
	visibility: hidden;
}

.btr-settings-checkbox input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	background: none;
	height: auto;
	padding-left: 22px;

	vertical-align: middle;
	line-height: 16px;
	font-weight: 300;

	user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}

.btr-settings-checkbox input[type="checkbox"][disabled] + label {
	cursor: initial;
}

.btr-settings-checkbox input[type="checkbox"] + label:before {
	content: "";
	display: inline-block;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 14px auto;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #B8B8B8;
	border-radius: 3px;
	box-sizing: border-box;
}

.btr-settings-checkbox input[type="checkbox"]:checked + label:before {
	background-image: url(/res/icon_checkbox.svg);
	background-color: #00A2FF;
}

.btr-settings-checkbox input[type="checkbox"][disabled] + label:before {
	background-color: #B8B8B8;
}

.btr-settings-content .btr-select {
	display: inline-block;
	width: 50%;
}

.btr-settings-content select {
	display: inline-block;
	font-size: 14px;
	padding: 1px 4px;
	font-weight: 400;

	padding-right: 20px;
	max-width: calc(100% - 20px);

	color: #191919;
	border: 1px solid rgb(169, 169, 169);

	-webkit-appearance: none;
	-moz-appearance: none;
	
	background-image:
		linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%);
	background-position:
		calc(100% - 10px) 11px,
		calc(100% - 7px) 11px;
	background-size:
		3px 5px,
		3px 5px;
	background-repeat: no-repeat;
}

.btr-settings-content select[disabled] {
	opacity: 0.7;
	background-color: #fff;
}

.btr-settings-content select option {
	font-size: 15px;
}

.btr-settings-content[data-name="navigation"] {
	padding-bottom: 20px;
}

.btr-settings-content[data-name="navigation"] checkbox {
	width: 100%;
}

#btr-settings-item-previewer {
	display: flex;
	flex-direction: column;
}

#btr-settings-shout-filters {
	display: flex;
	flex-direction: column;
	height: 600px;
}

.btr-filter-lists {
	display: flex;
	flex-direction: row;
	margin-top: 12px;
	user-select: none;
	-moz-user-select: none;
	overflow: hidden;
	height: 100%;
}

.btr-filter-list {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: 49%;
	overflow: hidden;
}

.btr-filter-list-header {
	flex: 0 0 auto;
	color: #B0B0B0;

	cursor: pointer;
}

.btr-filter-list-header:hover {
	color: #d0d0d0;
}

.btr-filter-enabled, .btr-filter-disabled {
	flex: 1 1 auto;
	padding: 6px;

	background: #FAFAFA;
	overflow-y: scroll;
	box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .1);

	color: #191919;
}

.btr-dark-theme .btr-filter-enabled, .btr-dark-theme .btr-filter-disabled {
	background: #191b1d;
}

.btr-filter-center {
	flex: 1 1 auto;
}

.btr-filter-group {
	display: flex;
	width: 100%;
	height: 52px;
	padding: 2px;
	margin-bottom: 6px;

	align-items: center;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;

	background: white;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
}

.btr-filter-group:hover {
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
}

.btr-filter-group:active {
	background: #F5F5F5;
}

.btr-dark-theme .btr-filter-group {
	background: #232527;
	color: #fff;

	box-shadow: 0 0 2px 0 rgba(255, 255, 255, .1);
}

.btr-dark-theme .btr-filter-group:hover {
	box-shadow: 0 0 4px 0 rgba(255, 255, 255, .2);

}


.btr-filter-group-icon {
	flex: 0 0 auto;
	width: 50px;
	height: 50px;
}

.btr-filter-group-icon img {
	width: 100%;
	height: 100%;
}

.btr-filter-group-title {
	flex: 1;
	padding: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
}