.btr-uconf .universe-content {
	min-height: 155px;
}

.btr-asset-list {
	margin: 0;
	margin-top: 1em;
	padding: 0;
}

.btr-asset-list .btr-asset-item {
	display: flex;
	flex-direction: column;
	background: #EFEFEF;
	border: 1px solid #CCC;
	margin-top: .25em;
}

.btr-asset-list .btr-asset-item .btr-asset-button {
	flex: 0 0 auto;
	padding: .25em;

	cursor: pointer;
	user-select: none;
}

.btr-asset-list .btr-asset-item .btr-asset-button .btr-asset-link {
	margin-left: .5em;
}

.btr-asset-list .btr-asset-item .btr-asset-button .btr-asset-version-select {
	float: right;
	margin-right: .25em;
}

.btr-asset-list .btr-asset-item .btr-asset-content {
	margin-top: .1em;
}

.btr-asset-list .btr-asset-content .btr-cc {
	margin: .35em;
	margin-top: 0;
}

.btr-asset-list .btr-asset-item:not(.open) .btr-asset-content,
.btr-asset-list .btr-asset-item:not(.open) .btr-asset-version-select {
	display: none;
}