.gitignore export-ignore
.gitattributes export-ignore
bin export-ignore
res -diff -merge
css/default export-ignore
README.md export-ignore
manifest.firefox.json export-ignore
manifest.chrome.json export-ignore