.gitignore export-ignore
.gitattributes export-ignore
lib/three.js export-ignore
bin export-ignore
img export-ignore
res -diff -merge
*.svg -diff
README.md export-ignore
PRIVACY.md export-ignore
manifest.firefox.json export-ignore
manifest.chrome.json export-ignore