backups
js/three.min.js
js/jszip.min.js
js/animPreview.js
res/avatarEditor
res/meshes
res/btr_logo_v1.svg
res/btr_logo_v2.svg
res/btr_logo_old.png
res/btr_logo_v1.png
roblox.zip
changelist.txt