.gitignore export-ignore
.gitattributes export-ignore
src/dev export-ignore
src/res -diff -merge
bin export-ignore
img export-ignore
README.md export-ignore
PRIVACY.md export-ignore
manifest.firefox.json export-ignore
manifest.chrome.json export-ignore