html body {
	background: #212121 url('chrome-extension://__MSG_@@extension_id__/res/bgTexture.png') left top repeat fixed;
}

html .rbx-header {
	background: #0a0a0a;
}

html .btr-nav-notif {
	border-color: #0a0a0a;
}

html .rbx-left-col {
	background: #121212;
}

html .rbx-left-col .rbx-scrollbar li a:not(:hover) span[class^="icon"] {
	filter: invert(100%);
}

html .rbx-left-col li a,
html .container-footer .footer-links li a:not(.privacy):hover {
	color: rgba(255, 255, 255, 1);
}

html .btr_feedtitle,
html .btr_feeddesc,
html .container-footer .footer-links li a {
	color: rgba(255, 255, 255, .7);
}

html .btr_feeddate, 
html .btr_feedcreator {
	color: rgba(255, 255, 255, .5);
}


html .container-main>.content,
html #BodyWrapper {
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 0;
	padding-bottom: 0;
}

html .container-main>.content::before,
html #BodyWrapper::before {
	content: " ";
	display: block;

	position: absolute;
	left: -12px;
	top: -12px;
	right: -12px;
	bottom: -12px;

	background: inherit;
	border-radius: 2px;
	z-index: -1;
}


html .container-footer {
	background: #0a0a0a;
}

