/* Background Colors */

/*
#282b30 (topbar/sidebar)
#2e3136 (body)
#36393e (content)
#414449 (hover-light)

*/

body .rbx-header,
body .rbx-left-col {
	background-color: #282b30;
}

html body,
body .content {
	background-color: #2e3136;
}

body .section-content,
body .container-footer,
body .nav-tabs>li.active>a, body .nav-tabs>li.active>a:hover, body .nav-tabs>li.active>a:focus,
body .rbx-tab .rbx-tab-heading,
body .rbx-header .rbx-navbar li .nav-menu-title:hover, body .rbx-header .rbx-navbar li .nav-menu-title:focus,
body .popover, body .dropdown-menu,
body .game-card-container {
	background-color: #36393e; /* #fff */
}

body .rbx-tab:hover .rbx-tab-heading,
body .dropdown-menu li:hover {
	background-color: #414449;
}

body .form-control,
body input[type="text"],
body .input-group-btn .input-addon-btn, body .input-group-btn .input-addon-btn:hover {
	background-color: hsla(0,0%,100%,.06);
	border:1px solid hsla(0,0%,100%,.2);
}

/* Text Colors */

body .text-label,
body .text-date-hint,
body .text-pastname {
	color: hsla(0,0%,100%,.3); /* Faded out (#B8B8B8) */
}

html body,
body .small, body .small-oneline,
body .rbx-tabs-horizontal .rbx-tab-heading,
body .input-field {
	color: hsla(0,0%,100%,.5); /* #191919 */
}

body .nav-tabs>li.active>a, body .nav-tabs>li.active>a:hover, body .nav-tabs>li.active>a:focus,
body .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item, body .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:link, body .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:active, body .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:hover, body .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:visited, body .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:focus {
	color: hsla(0,0%,100%,.7); /* #555 */
}

body .rbx-left-col li a {
	color: #fff;
}

body .text-name, body .text-name:link, body .text-name:hover, body .text-name:visited, body .text-name:active {
	color: #0096cf; /* anchors */
}

/* Rest */

body .rbx-scrollbar li:not(:hover) span[class^="icon"],
body #navbar-search-btn:not(:hover) span[class^="icon"] {
	-webkit-filter: invert(100%);
}

body .popover.bottom>.arrow:after {
	border-bottom-color: #36393e;
}


body .btn-control-xs, body .btn-control-xs:hover, body .btn-control-xs:focus, body .btn-control-xs:link, body .btn-control-xs:visited,
body .btn-control-sm, body .btn-control-sm:hover, body .btn-control-sm:focus, body .btn-control-sm:link, body .btn-control-sm:visited {
	background-color: #414449;
	color: hsla(0,0%,100%,.5);
	border-color: #36393e;
}

body .btn-control-xs.disabled, body .btn-control-xs.disabled:hover, body .btn-control-xs.disabled:focus, body .btn-control-xs.disabled:link, body .btn-control-xs.disabled:visited,
body .btn-control-sm.disabled, body .btn-control-sm.disabled:hover, body .btn-control-sm.disabled:focus, body .btn-control-sm.disabled:link, body .btn-control-sm.disabled:visited {
	background-color: #414449;
	color: hsla(0,0%,100%,.3);
	border-color: #36393e;
}

body .btn-secondary-xs {
	background-color: #0096cf;
	border-color: #0096cf;
}

body .avatar, body .avatar-card-container {
	background-color: #414449;
}

body .section-left {
	border-right-color: hsla(0,0%,100%,.3);
}