body .no-gutter-ads  .content {
	max-width:1350px;
	margin-left:auto !important;
	margin-right:auto;
}

body .game-item.hidden { /* When you figure out why some items go invisible, remove this */
	display:inline-block !important;
	visibility:visible !important;
}