html {
	--btr-body-padding: -24px;
}

html body {
	background: #9AE4E8 url(/res/bg_sky.png) left 40px no-repeat fixed !important;
}

html body.btr-no-hamburger {
	background-position-x: 175px !important;
}

#container-main > .content,
#MasterContainer #BodyWrapper {
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}

#container-main > .content::before,
#MasterContainer #BodyWrapper::before {
	content: " ";
	display: block;

	position: absolute;
	left: var(--btr-body-padding);
	top: -12px;
	right: var(--btr-body-padding);
	bottom: -12px;

	background: inherit;
	border-radius: 2px;
	z-index: -1;
}