html body {
	background: #9AE4E8 url('chrome-extension://__MSG_@@extension_id__/res/skyBg.png') left 40px no-repeat fixed;
}

html .container-main>.content,
html #BodyWrapper {
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 0;
	padding-bottom: 0;
}

html .container-main>.content::before,
html #BodyWrapper::before {
	content: " ";
	display: block;

	position: absolute;
	left: -12px;
	top: -12px;
	right: -12px;
	bottom: -12px;

	background: inherit;
	border-radius: 2px;
	z-index: -1;
}