html #BodyWrapper {
	margin-top: 30px;
	margin-bottom: 30px;
}

html .tab-content, html .tab-container+div>div,
html .SmallCatalogItemView,
html .CatalogItemInner {
	background-color: transparent;
}

html a:link, html a:visited, html a:active {
	color: #00A2FF;
}

html .CatalogItemInner:hover {
	background-color: var(--btr-theme-item-hover);
}

html #build-page td.menu-area a.tab-item {
	color: var(--btr-theme-text-secondary) !important;
}

html #build-page td.menu-area a.tab-item-selected {
	background-color: var(--btr-theme-item-hover);
	border-color: var(--btr-theme-border-lighter);
}

html #build-page td.menu-area a.tab-item:hover {
	background-color: var(--btr-theme-item-hover);
}

html h2, html h2 a:link, html h2 a:visited, html h2 a:active, html h2 .text,
html #build-page table.section-header label.checkbox-label,
html .HoverInfo, html .CatalogItemInner:hover .HoverInfo,
html div#catalog .selected {
	color: var(--btr-theme-text-secondary);
}

html .CatalogItemInner span.NotAPrice,
html .CatalogItemInfoLabel, html .CatalogItemInner:hover .CatalogItemInfoLabel {
	color: var(--btr-theme-text-disabled);
}

html .redesign .tab_white_31h_container .ajax__tab_inner, html .tab, html .tab-container>div {
	background-color: var(--btr-theme-item-hover);
	border-color: var(--btr-theme-border-lighter);
}

html .redesign .tab_white_31h_container .ajax__tab_hover .ajax__tab_inner, html .tab:hover, html .tab-container>div:hover {
	background-color: var(--btr-theme-item-hover-hover);
}

html .redesign .tab_white_31h_container .ajax__tab_active .ajax__tab_inner,
html .tab.active,
html .tab-container>.tab-active,
html .tab-container>.tab-active:hover {
	background-color: var(--btr-theme-item);
}

html #build-page .gear-button-wrapper:not([style*="z-index: 999"]) {
	background-color: transparent !important;
	border-color: transparent !important;
}