html .scroller, html .scroller.disabled {
	background-color: var(--btr-theme-item);
	border-color: var(--btr-theme-border-lighter);
}

html .icon-games-carousel-right,
html .icon-games-carousel-left {
	filter: invert(70%);
}

html .sponsored-game .game-card-native-ad {
	background-color: var(--btr-theme-border);
}

html .open .dropdown-menu {
	background-color: var(--btr-theme-item);
}