html .border-bottom {
	border-bottom-color: var(--btr-theme-divider);
}

html .border-top {
	border-top-color: var(--btr-theme-divider);
}

html .stack .stack-list .stack-row,
html .rbx-tabs-horizontal .nav-tabs {
	background-color: var(--btr-theme-item);
}

html .btr-gamedetails #game-instances .stack-list .stack-row {
	border-color: var(--btr-theme-border-lighter);
}

html .rbx-tab .rbx-tab-heading {
	background-color: var(--btr-theme-item);
	color: var(--btr-theme-text-secondary);
}

html .rbx-tabs-horizontal .rbx-tab .rbx-tab-heading:hover,
html .nav-tabs>li.active>a, html .nav-tabs>li.active>a:hover, html .nav-tabs>li.active>a:focus {
	background-color: var(--btr-theme-item-hover);
}

html .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading {
	color: var(--btr-theme-text-secondary);
}

html .store-card,
html .voting-panel .users-vote .vote-details .vote-container .vote-mask .segment {
	background-color: var(--btr-theme-item);
}

html #rbx-passes-container .store-card, html #rbx-gear-container .store-card,
html #social-links .medallion {
	border-color: var(--btr-theme-border-lighter);
}

html .store-card .store-card-caption {
	border-top-color: var(--btr-theme-border-lighter);
}