html .vlist .list-item {
	border-top-color: var(--btr-theme-divider);
}

html .avatar {
	background-color: var(--btr-theme-background);
}

html .people-list .friend .friend-link, html .friend-list .friend .friend-link {
	color: var(--btr-theme-text-secondary)
}