html .item-card-container,
html .content-overflow-toggle:after,
html .content-overflow-toggle .toggle-content {
	background-color: var(--btr-theme-item);
}

html .thumbnail-holder {
	border-color: var(--btr-theme-border-lighter);
}

html .border-bottom,
html .item-card-thumb-container {
	border-bottom-color: var(--btr-theme-border-lighter);
}

html .btr-thumb-btn,
html .thumbnail-holder .enable-three-dee, html .thumbnail-holder .enable-three-dee:hover, html .thumbnail-holder .enable-three-dee:active, html .thumbnail-holder .enable-three-dee:focus {
	background-color: var(--btr-theme-item-hover);
	border-color: var(--btr-theme-border-lighter);
	color: var(--btr-theme-text-secondary);
}

html .btr-thumb-btn .btr-icon-preview,
html .btr-thumb-btn.checked::after {
	filter: invert(70%);
}

html .btr-icon-body, html .btr-icon-hat {
	filter: invert(100%) brightness(125%);
}