html {
	--btr-theme-header: #000;
	--btr-theme-navigation: #212121;
	--btr-theme-background: #303030;

	--btr-theme-item: #424242;
	--btr-theme-item-hover: #4A4A4A;
	--btr-theme-item-hover-hover: #606060;

	--btr-theme-border: #212121; /* #B8B8B8 */
	--btr-theme-border-lighter: #303030; /* #E3E3E3 */

	--btr-theme-text: rgba(255, 255, 255, 1);
	--btr-theme-text-secondary: rgba(255, 255, 255, .8);
	--btr-theme-text-disabled: rgba(255, 255, 255, 0.5);
	--btr-theme-divider: rgba(255, 255, 255, 0.12);

	background-color: var(--btr-theme-header) !important;
}

#navigation li a,
html .text-footer-nav:hover, html .text-footer-nav:focus, {
	color: var(--btr-theme-text);
}

html body,
html .btr-feedtitle,
html .text, html .text-nav,
html .popover-content .dropdown-menu li a,
html .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item, html .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:link, html .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:active, html .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:hover, html .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:visited, html .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:focus,
html .rbx-header .rbx-navbar-search .rbx-navbar-search-option a {
	color: var(--btr-theme-text-secondary);
}

html .btr-feeddesc,
html .btr-feedcreator, html .btr-feeddate,
html .item-card-label {
	color: var(--btr-theme-text-disabled);
}

#header,
html .container-footer {
	background: var(--btr-theme-header);
}

#header .rbx-navbar li .nav-menu-title:hover,
#header .rbx-navbar li .nav-menu-title:focus {
	background-color: rgba(230, 230, 230, 0.2);
}

#navigation {
	background: var(--btr-theme-navigation);
	color: var(--btr-theme-text);
}

html body,
html .content {
	background-color: var(--btr-theme-background);
}

html #BodyWrapper,
html #BodyWrapper #Body,
html .section-content,
html .dropdown-menu,
html .open .dropdown-menu,
html .popover,
html .modal-dialog .modal-content,
html .notification-stream-body {
	background-color: var(--btr-theme-item);
}

html .input-group-btn .input-dropdown-btn {
	background-color: var(--btr-theme-item-hover);
	border-color: var(--btr-theme-divider);
	color: var(--btr-theme-text-secondary);
}

html .input-group-btn .input-dropdown-btn .icon-down-16x16 {
	filter: invert(100%);
}

html .input-group .input-group-btn .dropdown-menu,
html .notification-stream-header,
html .notification-stream-list .notification-stream-item,
html .notification-stream-list .notification-stream-item .notification-display-text:after{
	background-color: var(--btr-theme-item-hover);
}

html .roblox-popover-content.bottom .arrow:after {
	border-bottom-color: var(--btr-theme-item-hover);
}

html .notification-stream-list .notification-stream-item.unInteracted,
html .notification-stream-list .notification-stream-item.unInteracted .notification-display-text:after {
	background-color: var(--btr-theme-item-hover-hover);

}

html .input-group-btn .dropdown-menu li a:hover, html .input-group-btn .dropdown-menu li a:focus,
html .input-group-btn .input-dropdown-btn:hover, html .input-group-btn .input-dropdown-btn:focus, html .input-group-btn .input-dropdown-btn:active {
	background-color: var(--btr-theme-item-hover-hover);
	border-color: var(--btr-theme-divider);
}

html .dropdown-menu li:hover, html .dropdown-menu li:focus, html .dropdown-menu li.active,
html .rbx-header .rbx-navbar-search .rbx-navbar-search-option.selected {
	background-color: var(--btr-theme-item-hover);
}


html #header .btr-nav-notif {
	border-color: var(--btr-theme-header);
	color: #000;
}

html .popover.bottom>.arrow,
html .popover.bottom>.arrow:after {
	border-bottom-color: var(--btr-theme-item);
}

#navigation li a:not(:hover) span[class^="icon-"] {
	filter: invert(100%);
}


html .btn-control-sm, html .btn-control-xs, html .btn-control-md,
html .btn-control-sm:visited, html .btn-control-xs:visited, html .btn-control-md:visited,
html .btn-control-sm:link, html .btn-control-xs:link, html .btn-control-md:link {
	background-color: var(--btr-theme-item);
	border-color: var(--btr-theme-border-lighter);
	color: var(--btr-theme-text-secondary);
}

html .btn-control-xs.disabled, html .btn-control-xs.disabled:hover, html .btn-control-xs.disabled:focus, html .btn-control-xs.disabled:active, html .btn-control-xs.disabled.active, html .btn-control-xs[disabled], html .btn-control-xs[disabled]:hover, html .btn-control-xs[disabled]:focus, html .btn-control-xs[disabled]:active, html .btn-control-xs[disabled].active,
html .btn-control-sm.disabled, html .btn-control-sm.disabled:hover, html .btn-control-sm.disabled:focus, html .btn-control-sm.disabled:active, html .btn-control-sm.disabled.active, html .btn-control-sm[disabled], html .btn-control-sm[disabled]:hover, html .btn-control-sm[disabled]:focus, html .btn-control-sm[disabled]:active, html .btn-control-sm[disabled].active,
html .btn-control-md.disabled, html .btn-control-md.disabled:hover, html .btn-control-md.disabled:focus, html .btn-control-md.disabled:active, html .btn-control-md.disabled.active, html .btn-control-md[disabled], html .btn-control-md[disabled]:hover, html .btn-control-md[disabled]:focus, html .btn-control-md[disabled]:active, html .btn-control-md[disabled].active {
	background-color: var(--btr-theme-item);
	border-color: var(--btr-theme-border-lighter);
	color: var(--btr-theme-text-disabled);
}

html .btn-control-xs:hover, html .btn-control-xs:focus, html .btn-control-xs.active,
html .btn-control-sm:hover, html .btn-control-sm:focus, html .btn-control-sm.active,
html .btn-control-md:hover, html .btn-control-md:focus, html .btn-control-md.active {
	background-color: var(--btr-theme-item-hover);
	border-color: var(--btr-theme-border-lighter);
	color: var(--btr-theme-text-secondary);
}

html .rbx-body .pager .first a, html .rbx-body .pager .last a, html .rbx-body .pager .pager-prev a, html .rbx-body .pager .pager-next a {
	background-color: var(--btr-theme-item);
	border-color: var(--btr-theme-border-lighter);
}

html .rbx-body .pager .first a:hover, html .rbx-body .pager .last a:hover, html .rbx-body .pager .pager-prev a:hover, html .rbx-body .pager .pager-next a:hover {
	background-color: var(--btr-theme-item-hover);
}

html .rbx-body .pager .first a span, html .rbx-body .pager .last a span, html .rbx-body .pager .pager-prev a span, html .rbx-body .pager .pager-next a span,
html .rbx-body .pager .disabled>a span, html .rbx-body .pager .disabled>a:hover span, html .rbx-body .pager .disabled>a:focus span,
html .rbx-body .pager .first a:hover span, html .rbx-body .pager .last a:hover span, html .rbx-body .pager html .rbx-body .pager-prev a:hover span, html .rbx-body .pager .pager-next a:hover span {
	background-color: transparent;
}

html .icon-more, html .icon-left, html .icon-right, html .icon-last-page, html .icon-first-page {
	filter: invert(70%);
}

html .game-card-container {
	background-color: var(--btr-theme-item);
}

html .game-name-title:after {
	background-color: var(--btr-theme-item);
}

html .btr-it-checkbox input[type="checkbox"]+label:before,
html .checkbox label::before,
html .radio label::before {
	background-color: var(--btr-theme-item-hover);
	border-color: var(--btr-theme-divider);
}

html .form-control,
html .btr-server-pager .btr-server-input,
html body .content .btr-CurrentPage,
html .btr-pager-holder input.pager-cur {
	background-color: var(--btr-theme-item);
	border-color: var(--btr-theme-divider);
}

html .input-group .input-field:focus {
	border-color: var(--btr-theme-divider);
}

html .input-field,
html body .content .btr-CurrentPage {
	color: var(--btr-theme-text-secondary);
}


html .input-group-btn .input-addon-btn,
html .input-group-btn .input-addon-btn:active, html .input-group-btn .input-addon-btn:hover, html.input-group-btn .input-addon-btn.active {
	background-color: var(--btr-theme-item-hover);
	border-color: var(--btr-theme-divider);
}

html .input-group-btn .input-addon-btn:active, html .input-group-btn .input-addon-btn:hover, html.input-group-btn .input-addon-btn.active {
	background-color: var(--btr-theme-item-hover-hover);
}

html .input-group-btn .input-addon-btn .icon-search {
	filter: invert(100%);
}

html #navbar-universal-search .input-addon-btn {
	background-color: var(--btr-theme-item-hover);
}

html .icon-nav-search:not(:hover) {
	filter: invert(100%);
}

html .btr-settings-header,
html .btr-fake-header,
html #btr-naveditor-topright-container li,
html .btr-naveditor-item > a, html .btr-naveditor-item > a:active, html .btr-naveditor-item > a:visited, html .btr-naveditor-item > a:focus, html .btr-naveditor-item > a:link {
	background-color: var(--btr-theme-header);
}

html .btr-settings {
	background-color: var(--btr-theme-background);
	color: var(--btr-theme-text-secondary);
}

html .btr-naveditor-container {
	background-color: var(--btr-theme-item);
	border-color: var(--btr-theme-border-lighter);
}

html .btr-filter-enabled, html .btr-filter-disabled {
	background-color: var(--btr-theme-item);
}

html .btr-filter-group {
	background-color: var(--btr-theme-item-hover);
}

html .btr-filter-group:active {
	background-color: var(--btr-theme-item-hover-hover);
}

html .btr-settings-content group > h4 {
	color: var(--btr-theme-text-secondary);
}

html .btr-settings select {
	color: #191919;
}

html .MediaPlayerIcon {
	filter: invert(70%);
}

html .btn-buy-md {
	background-color: var(--btr-theme-item);
	border-color: var(--btr-theme-border-lighter);
	color: var(--btr-theme-text-secondary);
}



/* BC page */

body[data-btr-page="membership"] h1,
body[data-btr-page="membership"] h2,
body[data-btr-page="membership"] h3,
body[data-btr-page="membership"] h4,
body[data-btr-page="membership"] .product-summary .product-description {
	color: var(--btr-theme-text-secondary);
}

body[data-btr-page="membership"] .product-summary {
	color: #529152;
}

body[data-btr-page="membership"] a:link, body[data-btr-page="membership"] a:visited, body[data-btr-page="membership"] a:active {
	color: #00A2FF;
}

/* Private srver config */

#configure-form h1,
#configure-form h2,
#configure-form h2 a:any-link,
#configure-form h3,
#configure-form h4,
#configure-form .form-label {
	color: var(--btr-theme-text-secondary);
}

/* Settings */

#settings-container .menu-vertical {
	background-color: var(--btr-theme-item);
}

#settings-container .menu-vertical .menu-option:hover {
	background-color: var(--btr-theme-item-hover);
}

#settings-container .select-group .select-option option {
	background-color: var(--btr-theme-item-hover);
	color: var(--btr-theme-text-secondary);
}

#settings-container .rbx-select-group .rbx-select,
#settings-container .select-group:hover, #settings-container .select-group:focus, #settings-container .select-group.active {
	background-color: var(--btr-theme-item-hover);
	border-color: var(--btr-theme-border-lighter);
}

/* Friends */

#friends-container .rbx-tabs-horizontal .nav-tabs {
	background-color: var(--btr-theme-item);
}

#friends-container .tooltip-container .icon-moreinfo {
	filter: invert(80%);
}

#friends-container .rbx-tab .rbx-tab-heading {
	background-color: var(--btr-theme-item);
	color: var(--btr-theme-text-secondary);
}

#friends-container .rbx-tab .rbx-tab-heading:hover {
	background-color: var(--btr-theme-item-hover);
}

#friends-container .avatar-card-container {
	background-color: var(--btr-theme-item);
}

#friends-container .avatar-card-btns {
	background-color: var(--btr-theme-item-hover);
	border-top-color: var(--btr-theme-border-lighter);
}

/* Roblox badges page */

.content > #badge-container.badge-container .stack .stack-list .stack-row {
	background: var(--btr-theme-item-hover);
}

.content > #badge-container.badge-container .stack .stack-list .stack-row.selectedFadeOut {
	background-color: #4A7691;
}