html .messages .messageDivider,
html .messages .messageDivider.message-news {
	background-color: var(--btr-theme-item);
	border-color: var(--btr-theme-border-lighter);
}

html .messages .messageDivider.unread .message-summary-body .subject,
html .message-summary-content .subject {
	color: var(--btr-theme-text-secondary);
}

html .messages .messageDivider.unread {
	background-color: var(--btr-theme-item-hover);
}

html .rbx-tabs-horizontal .nav-tabs,
html .nav-tabs>li.active>a, html .nav-tabs>li.active>a:hover, html .nav-tabs>li.active>a:focus,
html .rbx-tab .rbx-tab-heading {
	background-color: var(--btr-theme-item);
}

html .rbx-tabs-horizontal .rbx-tab .rbx-tab-heading:hover {
	background-color: var(--btr-theme-item-hover);
}

html .rbx-tabs-horizontal .rbx-tab-heading,
html .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading,
html .inbox-buttons .message-detail-mark-archive {
	color: var(--btr-theme-text-secondary);
}

html .section-content-off {
	background-color: var(--btr-theme-item);
	color: var(--btr-theme-text-disabled);
}