html .item-card-container,
html .rbx-tabs-horizontal .nav-tabs,
html .rbx-tabs-horizontal #horizontal-tabs .rbx-tab:not(.active) a:not(:hover),
html .nav-tabs>li.active>a, html .nav-tabs>li.active>a:hover, html .nav-tabs>li.active>a:focus,
html #wrap.pinned .right-wrapper:before,
html .modal-dialog .modal-content {
	background-color: var(--btr-theme-item);
}

html .rbx-tabs-horizontal .rbx-tab .rbx-tab-heading:hover {
	background-color: var(--btr-theme-item-hover);
}

html .rbx-tabs-horizontal .rbx-tab-heading,
html .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading,
html .rbx-tab-horizontal-submenu li {
	color: var(--btr-theme-text-secondary);
}

html .item-card-thumb-container {
	border-bottom-color: var(--btr-theme-border-lighter);
}