html .StandardPanelContainer .StandardPanelWhite,
html .SquareTabGray.selected, html .SquareTabGray.selected:hover, html .SquareTabGray.ui-tabs-selected, html .SquareTabGray.ui-tabs-selected:hover,
html #Summary_tab .RobuxColumn, html #Summary_tab .TicketsColumn {
	background-color: var(--btr-theme-item);
}

html .loading {
	background-color: var(--btr-theme-item) !important;
}

html .SquareTabGray {
	background-color: var(--btr-theme-item);
}

html .SquareTabGray:hover {
	background-color: var(--btr-theme-item-hover);
}

html .SquareTabGray a:hover,
html .SquareTabGray.selected a:hover, html .SquareTabGray.ui-tabs-selected a:hover {
	background: transparent;
}

html .form-label,
html .SquareTabGray a,
html h2 {
	color: var(--btr-theme-text-secondary);
}

html h2.light {
	color: var(--btr-theme-text-disabled);
}

html a:link, html a:visited, html a:active {
	color: #00A2FF;
}

html .table-header th {
	background-color: var(--btr-theme-item-hover);
}

html .flot-text, html .stats-legend .legendLabel {
	color: var(--btr-theme-text-disabled) !important;
}
html .flot-base {
	filter: brightness(150%);
}

html .robux, html span[style*="color:#060"] {
	filter: brightness(150%);
}